.cnt {
    padding-top: 10rem;
}
.cnt:last-child {
    padding-bottom: 12rem;
}
.cnt_tit {
    padding: 1.8rem 0;
    color: #222;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 800;
    background: #FAFAFA;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: #222222;
    margin-bottom: 7rem;
}
.cnt_subtxt {
    width: fit-content;
    font-size: 2rem;
    color: #262C5A;
    font-weight: 700;
    padding: 2rem 7rem;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid #AAA;
    box-shadow: 0px 3px 6px 0px rgba(170, 170, 170, 0.25);
    margin-bottom: 6rem;
    margin-top: 12rem;
}
.cnt_item:not(:last-child) {
    padding-bottom: 10rem;
}
.cnt_item h1 {
    color: #222;
    font-size: 2.2rem;
    font-weight: 700;
    padding-top: 2rem;
    margin-bottom: 5rem;
    position: relative;
}
.cnt_item h1::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 12.7rem;
    height: 0.6rem;
    flex-shrink: 0;
    background-color: #0319DE;
    content: "";
}
.cnt_item h2 {
    color: #01108E;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 5rem 0 3rem 0;
}
.cnt_item h2.firstline, .cnt_item h2:first-child {
    margin: 0 0 3rem 0;
}
.cnt_item span {
    display: block;
    color: #666;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 1.2rem;
    padding-left: 2rem;
    position: relative;
    line-height: 155%;
}
.cnt_item span::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background-color: #3649D8;
    border-radius: 50%;
    content: "";
}
.cnt_item.dot_none span {
    padding-left: 0;
}
.cnt_item.dot_none span::before {
    display: none;
}
.cnt_img {
    width: 100%;
    height: 100%;
}
.cnt_img img {
    width: 100%;
    height: 100%;
}
.cnt_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5rem;
}
.cnt_infotxt {
    margin: 4rem 0;
    font-weight: 500;
    color: #222;
}



/*핵심기술 css*/
.tech {
    margin-top: 50rem;
}/* 중복값으로 들어가면 지우셔도 됩니다.*/
.tech > .cnt_item > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tech > .cnt_item > ul > .card {
    width: calc(33.33% - 2.66rem);
    text-align: center;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    border-radius: 1rem;
    background: #F5F6F8;
    transition: all 0.35s ease-in-out;
}

.tech > .cnt_item > ul > .card > .tech_img {
    text-align: center;
    display: block;
    transition: 
    width 0.4s cubic-bezier(0.34, 1.56, 0.64, 1), 
    height 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}



/*카드 2개일 때 */
.tech > .cnt_item > ul > .card.half_card {
    width: calc(50% - 2rem); 
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 6.5rem;
    padding-left: 7rem;
}
.tech > .cnt_item > ul > .card.half_card > p  {
    text-align: left;
}
.tech > .cnt_item > ul > .card.half_card > .tech_img {
    margin-right: 7rem;
}
.tech > .cnt_item > ul > .card.half_card > .tech_img.img02 {
    margin-top: -4rem;
}
/*카드 4개일 때 */
.tech > .cnt_item > ul > .card.quarter_card {
    width: calc(25% - 2.6rem);
}



.tech > .cnt_item > ul > .card > p {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.4rem; /* 100% */
    letter-spacing: -0.048rem;
    color: #131314;
    transition: all 0.35s ease-in-out;
    width: 100%;
}
.tech > .cnt_item > ul > .card > p + p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem; /* 150% */
    letter-spacing: -0.032rem;
    color: #94959C;
    margin: 1rem 0 1rem 0 ;
    transition: all 0.35s ease-in-out;
}
.tech > .cnt_item > ul > .card.active > p {
    color: #ffffff;
}
.tech > .cnt_item > ul > .card.active {
    background-color: #01108E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
}
.tech > .cnt_item > ul > .card.active > p + p {
    color: #5866DC;
}
.tech > .cnt_item > ul > .card.active > .tech_img {
    transform: scale(105%);
}
.tech > .cnt_item > .cnt_ex {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5rem 4rem;
    border: 2px solid #23319D;
    background: #FFF;
    border-radius: 1rem;
    gap: 2.2rem;
}
.tech > .cnt_item > .cnt_ex::before {
    position: absolute;
    left: 6.2rem;
    top: -1.6rem;
    content: "분석결과 시각화 예시";
    font-size: 2.2rem;
    font-weight: 600;
    color: #01108E;
    z-index: 10;
}
.tech > .cnt_item > .cnt_ex::after {
    position: absolute;
    left: 4rem;
    top: -0.2rem;
    width: 23.2rem;
    height: 1.8rem;
    background-color: #FFF;
    content: "";
    z-index: 1;
}
.tech > .cnt_item > .cnt_ex.st02 {
    background-color: #FAFAFA; 
    gap: 8.8rem;
}
.tech > .cnt_item > .cnt_ex.st02::before {
    content: "법령 정보(가스안전 관련 )를 기반으로 한 법률 정보 제공 기능 예시";
}
.tech > .cnt_item > .cnt_ex.st02::after  {
    width: 61.4rem;
    background-color: #FAFAFA; 
}
.tech > .cnt_item > .cnt_ex:not(:last-child) {
    margin-bottom: 7.6rem;
}



/*서비스 구성도 css*/
.serivce .cnt_content_01, .serivce .cnt_content_02 {
    gap: 4rem;
}
.serivce .cnt_content_02 {
    margin-top: 1rem;
    align-items: start;
}
.serivce .cnt_content_01 .cnt_img, .serivce .cnt_content_02 .cnt_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.serivce .cnt_content_01 .cnt_img {
    width: 40%;
}
.serivce .cnt_content_01 .cnt_item  {
    width: 55%;
}
.serivce .cnt_content_02 .cnt_img {
    width: 20rem;
}
.serivce .cnt_content_02 .cnt_item  {
    width: calc(100% - 25rem);
}
.serivce .cnt_content .cnt_img p {
    color: #222;
    font-size: 1.6rem;
    font-weight: 500;
}
.serivce .cnt_content .cnt_img span {
    color: #868686;
    font-weight: 400;
}
.serivce .cnt_images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5rem;
    gap: 4rem;
}
.serivce .cnt_images .cnt_img  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid #EAEAEA;
    padding: 6rem 10rem;
}
.serivce .cnt_img .p_mo {
    padding: 0 14rem ;
}


/*활용분야 css*/
.part .cnt_item:not(:last-child) {
    padding-bottom: 4rem;
}
.part .cnt_tit {
    margin-bottom: 8rem;
}
.part .cnt_content {
    gap: 3rem;
    margin-top: 0;
}
.part .cnt_content .cnt_img {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.10);
}
.part .cnt_content .cnt_images {
    display: flex;
    width: calc(50% - 15px);
    gap: 3rem;
    height: 37.1rem;
}

@media screen and (max-width: 1400px) {
    .cnt:last-child {
        padding-bottom: 10rem;
    }
    .cnt_item span {
        font-size: 1.6rem;
    }
    .cnt_item h1 {
        font-size: 2rem;
        padding-top: 2rem;
        margin-bottom: 4rem;
        position: relative;
    }
    .cnt_item h2 {
        font-size: 2rem;
        margin: 4rem 0 2rem 0;
    }
    .cnt_subtxt {
        margin-bottom: 4rem;
        margin-top: 6rem;
        font-size: 1.8rem;
        padding: 1.5rem 5rem;
    }
    .cnt_infotxt {
        margin: 3rem 0;
    }
    .tech {
        margin-top: 26rem;
    }
    .tech > .cnt_item > ul > .card > .tech_img.img01 {
        transform: scale(0.7);
    }
    .tech > .cnt_item > ul > .card > .tech_img.img02 {
        transform: scale(0.7);
    }
    .tech > .cnt_item > ul > .card > .tech_img.img03 {
        transform: scale(0.7);
    }
    .tech > .cnt_item > ul > .card.quarter_card > .tech_img {
        transform: scale(0.85);
    }
    .tech > .cnt_item > ul > .card.half_card > .tech_img {
        margin-right: 5rem;
    }
    .tech > .cnt_item > ul > .card.half_card > .tech_img.img02 {
        margin-top: -3rem;
    }
    .tech > .cnt_item > ul > .card.half_card {
        padding-left: 5rem; 
        padding-top: 7rem;
    }
    .serivce .cnt_images .cnt_img {
        padding: 4rem 8rem;
    }
    .serivce .cnt_img .p_mo {
        padding: 0 7rem ;
    }
    .tech > .cnt_item > .cnt_ex::before {
        font-size: 1.8rem;
    }
    .tech > .cnt_item > .cnt_ex::after {
        width: 19.5rem;
    }
    .tech > .cnt_item > .cnt_ex.st02 {
        gap: 5rem;
    }
    .tech > .cnt_item > .cnt_ex.st02::after  {
        width: 51rem;
    }
}
@media screen and (max-width: 749px) {
    .cnt {
        padding-top: 6rem;
    }
    .cnt:last-child {
        padding-bottom: 8rem;
    }
    .cnt_tit {
        padding: 1.6rem 0;
        font-size: 2.2rem;
    }
    .cnt_item:not(:last-child) {
        padding-bottom: 6rem;
    }
    .cnt_subtxt {
        margin-bottom: 3rem;
        margin-top: 3.5rem;
        font-size: 1.6rem;
        padding: 1.2rem 4rem;
    }
    .cnt_infotxt {
        margin: 2.5rem 0;
    }
    .cnt_content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tech > .cnt_item > ul {
        flex-direction: column;
    }
    .tech > .cnt_item > ul > .card {
        width: 100%;
        margin-bottom: 2rem;
        padding: 3rem 0 1.8rem 0;
        height: 25rem;
    }
    .tech > .cnt_item > ul > .card > p {
        font-size: 2rem;
    }
    .tech > .cnt_item > ul > .card > p + p {
        font-size: 1.6rem;
    }
    .tech > .cnt_item > ul > .card.half_card {
        width: 100%; 
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 3rem;
        padding-left: 0;
    }
    .tech > .cnt_item > ul > .card.half_card > p  {
        text-align: center;
    }
    .tech > .cnt_item > ul > .card.half_card > .tech_img {
        margin-right: 0;
    }
    .tech > .cnt_item > ul > .card.half_card > .tech_img.img02 {
        margin-top: -2rem;
        margin-left: 3rem;
    }
    .tech > .cnt_item > ul > .card.quarter_card > .tech_img {
        margin-top: -0.8rem;
    }
    .tech > .cnt_item > .cnt_ex {
        padding: 4rem 2rem;
        flex-direction: column;
        gap: 2rem;
    }
    .tech > .cnt_item > .cnt_ex.st02 {
        gap: 2rem;
    }
    .tech > .cnt_item > .cnt_ex::before {
        left: 3rem;
        margin-right: 2.2rem;
    }
    .tech > .cnt_item > .cnt_ex::after {
        left: 2rem;
        width: 19.5rem;
        top: -0.3rem;
    }
    .tech > .cnt_item > .cnt_ex.st02::after  {
        width: 33.5rem;
    }
    .serivce .cnt_content_01 .cnt_item  {
        width: 100%;
    }
    .serivce .cnt_images {
        flex-wrap: wrap;
        justify-content: center;
    }
    .serivce .cnt_images .cnt_img {
        padding: 2rem 0;
    }
    .part .cnt_tit {
        margin-bottom: 4rem;
    }
    .part .cnt_images {
        display: flex;
        gap: 2rem;
    }
    .serivce .cnt_img .p_mo {
        padding: 0 1.5rem ;
    }
}


