.sub_tab {
    margin: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.sub_tab > ul {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.sub_tab > ul > li {
    width: 18rem;
    padding: 1rem 0;
    margin: 0 1rem;
    border-radius: 50px;
    color: #777777;
}
.sub_tab > ul > li.active, .sub_tab > ul > li:hover {
    background-color: #00108E;
    color: #ffffff;

}/*active,hover*/

.sub_tab > ul > li > a {
    display: block;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}