.sub_tab {
    font-size: 1.8rem;
    font-weight: 600;
}
.sub_tab > ul {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.sub_tab > ul > li {
    width: 18rem;
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 50px;
    color: #777777;
    transition: all 0.3s ease;
}
.sub_tab > ul > li.active, .sub_tab > ul > li:hover {
    background-color: #00108E;
    color: #ffffff;

}/*active,hover*/

.sub_tab > ul > li > a {
    display: block;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}


@media screen and (max-width: 1400px) {
    .sub_tab {
        font-size: 1.6rem;
    }
    .sub_tab > ul {
        padding: 0 15rem;
    }
    .sub_tab > ul > li {
        width: calc(33.33% - 2rem);
    }
}
@media screen and (max-width: 749px) {
    .sub_tab > ul {
        padding: 0;
        justify-content: flex-start;
    }
    .sub_tab > ul > li {
        min-width: 14rem;
    }
}


