.title > span {
    font-size: 1.6rem;
    font-weight: 500;
    color: #777777;
    display: block;
}
.title > h1  {
    font-size: 4rem;
    font-weight: 700;
    color: #222;
    padding-bottom: 3.5rem;
}
.title > p {
    color: #666;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
}
.main_photo {
    position: absolute;
    width: 100%;
    height: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_photo > .photo_txt.center {
    position: absolute;
    max-width: 1280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: Poppins;
    text-align: center;
}
.main_photo > .photo_txt.center > h1 {
    font-size: 4.6rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
}
.main_photo > .photo_txt {
    position: absolute;
    width: 1280px;
    top: 60%;
    color: #FFF;
    font-family: Poppins;
}
.main_photo > .photo_txt > h1 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 120%;
}
.main_photo > .photo_txt > p {
    font-size: 2.6rem;
    color: rgba(255, 255, 255, 0.62);
    font-weight: 400;
    line-height: 120%;
}

@media screen and (max-width: 1400px) {
    .title > span {
        font-size: 1.2rem;
    }
    .title > h1  {
        font-size: 3rem;
    }
    .title > p {
        font-size: 1.6rem;
        line-height: 3rem; /* 177.778% */
    }
    .main_photo {
        height: 30rem;
    }
    .main_photo > .photo_txt {
        width: 100%;
        padding-left: 6rem ;
        padding-right: 6rem ;
    }
    .main_photo > .photo_txt > h1 {
        font-size: 3.2rem;
    }
    .main_photo > .photo_txt.center > h1 {
        font-size: 4rem;
    }
    .main_photo > .photo_txt > p {
        font-size: 2.2rem;
    }
} 
@media screen and (max-width: 749px) {
    .main_photo > .photo_txt {
        padding-left: 2rem ;
        padding-right: 2rem ;
    }
    .main_photo > .photo_txt.center > h1 {
        font-size: 3rem;
    }
    .title > p > br {
        display: none;
    }
}
