@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./default.css";
@import "./common.css";


/**LOGIN**/
.bg-contents {
  height: 100%;
}
.bg-contents .bg-left {
  top: 0;
  left: 0;
  width: 644px;
  height: 1080px;
  background-image: url(./images/bg_left.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.bg-contents .bg-right {
  top: 0;
  right: 0;
  width: 419px;
  height: 380px;
  background-image: url(./images/bg_right.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.my_login {
  width: 730px;
  height: 644px;
  background-color: white;
}
.id_pw_wrap {
  padding: 0 73px;
}
.id_pw_wrap .input_row {
  padding: 33px 0 35px 24px;
  border-bottom: 1px solid #aaa;
}
.id_pw_wrap .icon {
  display: block;
  width: 28px;
  height: 28px;
  font-size: 0;
  line-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 40px;
}
.id_pw_wrap .icon_id {
  background-size: 24px 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0073 12.1245C15.0732 12.1245 17.7113 9.45479 17.7113 5.97829C17.7113 2.54449 15.0586 0 12.0073 0C8.95543 0 6.3033 2.60026 6.3033 6.00676C6.3033 9.45479 8.95604 12.1245 12.0073 12.1245ZM3.05187 25H20.9627C23.2017 25 24 24.3747 24 23.1508C24 19.5634 19.3942 14.6138 12.0073 14.6138C4.6064 14.6138 0 19.5634 0 23.1508C0 24.3747 0.798864 25 3.05187 25Z' fill='%23999999'/%3E%3C/svg%3E%0A");
}
.id_pw_wrap .icon_pw {
  background-size: 28px 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9998 9.33366H19.8332V7.00033C19.8332 3.78033 17.2198 1.16699 13.9998 1.16699C10.7798 1.16699 8.1665 3.78033 8.1665 7.00033V9.33366H6.99984C5.7165 9.33366 4.6665 10.3837 4.6665 11.667V23.3337C4.6665 24.617 5.7165 25.667 6.99984 25.667H20.9998C22.2832 25.667 23.3332 24.617 23.3332 23.3337V11.667C23.3332 10.3837 22.2832 9.33366 20.9998 9.33366ZM13.9998 19.8337C12.7165 19.8337 11.6665 18.7837 11.6665 17.5003C11.6665 16.217 12.7165 15.167 13.9998 15.167C15.2832 15.167 16.3332 16.217 16.3332 17.5003C16.3332 18.7837 15.2832 19.8337 13.9998 19.8337ZM17.6165 9.33366H10.3832V7.00033C10.3832 5.00533 12.0048 3.38366 13.9998 3.38366C15.9948 3.38366 17.6165 5.00533 17.6165 7.00033V9.33366Z' fill='%23999999'/%3E%3C/svg%3E%0A");
}
.id_pw_wrap input {
  width: calc(100% - 96px);
  font-size: 20px;
  border: 0;
  outline: 0;
}
.id_pw_wrap input:placeholder {
  font-weight: 400;
  color: #aaa;
}
.id_pw_wrap .btn_login {
  width: 100%;
  background-color: #19286E;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 78px;
  padding: 25px 0;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgba(25, 40, 110, 0.2);
}
.my_login .logo {
  width: 278.55px;
  height: 72px;
  background: url(./images/logo_color.png) no-repeat center center /cover;
  font-size: 0;
  line-height: 0;
}
/**LOGIN**/

/**HEADER**/
.header {
  background-color: #fff;
}
.header_active {
  background-color: #5C67B0;
  color: white;
}
.header .logo {
  width: 185px;
  height: 47.71px;
  background: url(./images/logo_color.png) no-repeat center center /cover;
  font-size: 0;
  line-height: 0;
}
.header_active .logo {
  width: 185px;
  height: 47.71px;
  background: url(./images/logo_all_white.png) no-repeat center center /cover;
  font-size: 0;
  line-height: 0;
}
.header .btn_logout {
  background-color: #19286E;
  border-radius: 5px;
  font-size: 15px;
  padding: 12px 32px 12px 14px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgba(25, 40, 110, 0.2);
}
.header .work span {
  position: relative;
}
.header .work span::after {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translate(0,-50%);
  width: 13px;
  height: 15.6px;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
}
.header .work .today_work span::after {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.56 0C1.14626 0 0.74947 0.164357 0.456913 0.456914C0.164357 0.74947 0 1.14626 0 1.56V14.04C0 14.4537 0.164357 14.8505 0.456913 15.1431C0.74947 15.4356 1.14626 15.6 1.56 15.6H11.44C11.8537 15.6 12.2505 15.4356 12.5431 15.1431C12.8356 14.8505 13 14.4537 13 14.04V6.2257C13 5.75185 12.8115 5.2975 12.4767 4.9621L7.9716 0.45695C7.67906 0.164389 7.28228 1.94023e-05 6.86855 0H1.56ZM0.975 1.56C0.975 1.40485 1.03663 1.25605 1.14634 1.14634C1.25605 1.03663 1.40485 0.975 1.56 0.975H6.5V5.2C6.5 5.54478 6.63696 5.87544 6.88076 6.11924C7.12456 6.36304 7.45522 6.5 7.8 6.5H12.025V14.04C12.025 14.1952 11.9634 14.344 11.8537 14.4537C11.7439 14.5634 11.5952 14.625 11.44 14.625H1.56C1.40485 14.625 1.25605 14.5634 1.14634 14.4537C1.03663 14.344 0.975 14.1952 0.975 14.04V1.56ZM11.661 5.525H7.8C7.7138 5.525 7.63114 5.49076 7.57019 5.42981C7.50924 5.36886 7.475 5.2862 7.475 5.2V1.339L11.661 5.525Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.header .work .entire_work span::after {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 0V4.57031C6.5 4.97435 6.6605 5.36185 6.9462 5.64755C7.2319 5.93325 7.6194 6.09375 8.02344 6.09375H13V14.625C13 14.9482 12.8716 15.2582 12.643 15.4868C12.4145 15.7153 12.1045 15.8438 11.7812 15.8438H1.21875C0.895517 15.8438 0.585523 15.7153 0.356963 15.4868C0.128403 15.2582 0 14.9482 0 14.625V1.21875C0 0.895517 0.128403 0.585524 0.356963 0.356964C0.585523 0.128404 0.895517 0 1.21875 0H6.5ZM7.51562 0.1885V4.57031C7.51562 4.85063 7.74312 5.07812 8.02344 5.07812H12.7814L7.51562 0.1885Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.header .work strong {
  position: relative;
  z-index: 2;
  font-weight: 400;
}
.header .work strong::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 36px;
  height: 36px;
  content: "";
  border-radius: 50%;
  z-index: -1;
}
.header .work .today_work strong::before {
  background-color: #DDE1FC;
}
.header .work .entire_work strong::before {
  background-color: #EDEDED;
}
.header .btn_logout_wrap {
  position: relative;
}
.header .btn_logout_wrap::after {
  position: absolute;
  top: 50%;
  right: 12.8px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  content: ""; 
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 12C0.966667 12 0.652889 11.8696 0.392 11.6087C0.131111 11.3478 0.000444444 11.0338 0 10.6667V1.33333C0 0.966667 0.130667 0.652889 0.392 0.392C0.653333 0.131111 0.967111 0.000444444 1.33333 0H6V1.33333H1.33333V10.6667H6V12H1.33333ZM8.66667 9.33333L7.75 8.36667L9.45 6.66667H4V5.33333H9.45L7.75 3.63333L8.66667 2.66667L12 6L8.66667 9.33333Z' fill='white'/%3E%3C/svg%3E%0A");
}
/**HEADER_active**/
.header_active .work span {
  position: relative;
}
.header_active .work span::after {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translate(0,-50%);
  width: 13px;
  height: 15.6px;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
}
.header_active .work .today_work span::after {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.56 0C1.14626 0 0.74947 0.164357 0.456913 0.456914C0.164357 0.74947 0 1.14626 0 1.56V14.04C0 14.4537 0.164357 14.8505 0.456913 15.1431C0.74947 15.4356 1.14626 15.6 1.56 15.6H11.44C11.8537 15.6 12.2505 15.4356 12.5431 15.1431C12.8356 14.8505 13 14.4537 13 14.04V6.2257C13 5.75185 12.8115 5.2975 12.4767 4.9621L7.9716 0.45695C7.67906 0.164389 7.28228 1.94023e-05 6.86855 0H1.56ZM0.975 1.56C0.975 1.40485 1.03663 1.25605 1.14634 1.14634C1.25605 1.03663 1.40485 0.975 1.56 0.975H6.5V5.2C6.5 5.54478 6.63696 5.87544 6.88076 6.11924C7.12456 6.36304 7.45522 6.5 7.8 6.5H12.025V14.04C12.025 14.1952 11.9634 14.344 11.8537 14.4537C11.7439 14.5634 11.5952 14.625 11.44 14.625H1.56C1.40485 14.625 1.25605 14.5634 1.14634 14.4537C1.03663 14.344 0.975 14.1952 0.975 14.04V1.56ZM11.661 5.525H7.8C7.7138 5.525 7.63114 5.49076 7.57019 5.42981C7.50924 5.36886 7.475 5.2862 7.475 5.2V1.339L11.661 5.525Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.header_active .work .entire_work span::after {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 0V4.57031C6.5 4.97435 6.6605 5.36185 6.9462 5.64755C7.2319 5.93325 7.6194 6.09375 8.02344 6.09375H13V14.625C13 14.9482 12.8716 15.2582 12.643 15.4868C12.4145 15.7153 12.1045 15.8438 11.7812 15.8438H1.21875C0.895517 15.8438 0.585523 15.7153 0.356963 15.4868C0.128403 15.2582 0 14.9482 0 14.625V1.21875C0 0.895517 0.128403 0.585524 0.356963 0.356964C0.585523 0.128404 0.895517 0 1.21875 0H6.5ZM7.51562 0.1885V4.57031C7.51562 4.85063 7.74312 5.07812 8.02344 5.07812H12.7814L7.51562 0.1885Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.header_active .work strong {
  position: relative;
  z-index: 2;
  font-weight: 400;
}
.header_active .work strong::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 36px;
  height: 36px;
  content: "";
  border-radius: 50%;
  z-index: -1;
}
.header_active .work .today_work strong::before {
  background-color: #DDE1FC;
}
.header_active .work .entire_work strong::before {
  background-color: #EDEDED;
}
.header_active .btn_logout_wrap {
  position: relative;
}
.header_active .btn_logout_wrap::after {
  position: absolute;
  top: 50%;
  right: 12.8px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  content: ""; 
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 12C0.966667 12 0.652889 11.8696 0.392 11.6087C0.131111 11.3478 0.000444444 11.0338 0 10.6667V1.33333C0 0.966667 0.130667 0.652889 0.392 0.392C0.653333 0.131111 0.967111 0.000444444 1.33333 0H6V1.33333H1.33333V10.6667H6V12H1.33333ZM8.66667 9.33333L7.75 8.36667L9.45 6.66667H4V5.33333H9.45L7.75 3.63333L8.66667 2.66667L12 6L8.66667 9.33333Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header_active .btn_logout {
  background-color: #19286E;
  border-radius: 5px;
  font-size: 15px;
  padding: 12px 32px 12px 14px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgba(25, 40, 110, 0.2);
}
/**HEADER**/

.home, .cnt {
  height: calc(100vh - 95px);
}
.home .contents_area ul li {
  background-color: #fff;
  color: #19286E;
}
.home .contents_area ul li a {
  padding: 30px 28px ;
  display: block;
}
.home .contents_area ul li a:hover {
  background-color: #19286E;
  color: #fff;
  border-radius: 10px;
}
.home .contents_area ul li a span {
  padding-left: 63px;
  position: relative;
}
.home .contents_area ul li a span:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
  width: 28px;
  height: 30px;
  content: "";
  background-position: center center;
  background-repeat: no-repeat
}
.home .contents_area ul li.workboard a span:before {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='30' viewBox='0 0 28 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7368 29.6V25.049L22.8789 16.909C23.1 16.687 23.3456 16.5267 23.6158 16.428C23.886 16.3293 24.1561 16.28 24.4263 16.28C24.721 16.28 25.0035 16.3357 25.2737 16.4472C25.5438 16.5587 25.7895 16.725 26.0105 16.946L27.3737 18.315C27.5702 18.537 27.7239 18.7837 27.8349 19.055C27.946 19.3263 28.001 19.5977 28 19.869C27.999 20.1403 27.9499 20.4181 27.8526 20.7022C27.7554 20.9864 27.5957 21.239 27.3737 21.46L19.2684 29.6H14.7368ZM16.9474 27.38H18.3474L22.8053 22.866L22.1421 22.163L21.4421 21.497L16.9474 25.974V27.38ZM2.94737 29.6C2.13684 29.6 1.44323 29.3104 0.866526 28.7312C0.289824 28.1521 0.000982456 27.455 0 26.64V2.96C0 2.146 0.288842 1.44941 0.866526 0.87024C1.44421 0.291067 2.13782 0.000986667 2.94737 0H14.7368L23.5789 8.88V13.32H20.6316V10.36H13.2632V2.96H2.94737V26.64H11.7895V29.6H2.94737ZM22.1421 22.163L21.4421 21.497L22.8053 22.866L22.1421 22.163Z' fill='%2319286E'/%3E%3C/svg%3E%0A");
}
.home .contents_area ul li.workboard a:hover span:before {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='30' viewBox='0 0 28 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7368 29.6V25.049L22.8789 16.909C23.1 16.687 23.3456 16.5267 23.6158 16.428C23.886 16.3293 24.1561 16.28 24.4263 16.28C24.721 16.28 25.0035 16.3357 25.2737 16.4472C25.5438 16.5587 25.7895 16.725 26.0105 16.946L27.3737 18.315C27.5702 18.537 27.7239 18.7837 27.8349 19.055C27.946 19.3263 28.001 19.5977 28 19.869C27.999 20.1403 27.9499 20.4181 27.8526 20.7022C27.7554 20.9864 27.5957 21.239 27.3737 21.46L19.2684 29.6H14.7368ZM16.9474 27.38H18.3474L22.8053 22.866L22.1421 22.163L21.4421 21.497L16.9474 25.974V27.38ZM2.94737 29.6C2.13684 29.6 1.44323 29.3104 0.866526 28.7312C0.289824 28.1521 0.000982456 27.455 0 26.64V2.96C0 2.146 0.288842 1.44941 0.866526 0.87024C1.44421 0.291067 2.13782 0.000986667 2.94737 0H14.7368L23.5789 8.88V13.32H20.6316V10.36H13.2632V2.96H2.94737V26.64H11.7895V29.6H2.94737ZM22.1421 22.163L21.4421 21.497L22.8053 22.866L22.1421 22.163Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.home .contents_area ul li.worklist a span:before {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1111 6.875H14.5103C13.8071 6.87465 13.1282 6.58577 12.6008 6.0625L9.319 2.8125C8.7916 2.28923 8.11265 2.00035 7.40944 2H4.88889C4.12271 2 3.38791 2.34241 2.84614 2.9519C2.30436 3.5614 2 4.38805 2 5.25V24.75C2 25.612 2.30436 26.4386 2.84614 27.0481C3.38791 27.6576 4.12271 28 4.88889 28H25.1111C25.8773 28 26.6121 27.6576 27.1539 27.0481C27.6956 26.4386 28 25.612 28 24.75V10.125C28 9.26305 27.6956 8.4364 27.1539 7.8269C26.6121 7.21741 25.8773 6.875 25.1111 6.875ZM25.1111 6.875C25.1111 5.79756 24.7307 4.76425 24.0534 4.00238C23.3762 3.24051 22.4577 2.8125 21.5 2.8125H9.31756' stroke='%2319286E' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.home .contents_area ul li.worklist a:hover span:before {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1111 6.875H14.5103C13.8071 6.87465 13.1282 6.58577 12.6008 6.0625L9.319 2.8125C8.7916 2.28923 8.11265 2.00035 7.40944 2H4.88889C4.12271 2 3.38791 2.34241 2.84614 2.9519C2.30436 3.5614 2 4.38805 2 5.25V24.75C2 25.612 2.30436 26.4386 2.84614 27.0481C3.38791 27.6576 4.12271 28 4.88889 28H25.1111C25.8773 28 26.6121 27.6576 27.1539 27.0481C27.6956 26.4386 28 25.612 28 24.75V10.125C28 9.26305 27.6956 8.4364 27.1539 7.8269C26.6121 7.21741 25.8773 6.875 25.1111 6.875ZM25.1111 6.875C25.1111 5.79756 24.7307 4.76425 24.0534 4.00238C23.3762 3.24051 22.4577 2.8125 21.5 2.8125H9.31756' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.home .contents_area ul li.logout {
  background-color: #19286E;
  color: #fff;
}
.home .contents_area ul li.logout a span:before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.88889 26C2.09444 26 1.41459 25.7174 0.849333 25.1521C0.284074 24.5869 0.000962963 23.9065 0 23.1111V2.88889C0 2.09444 0.283111 1.41459 0.849333 0.849333C1.41556 0.284074 2.09541 0.000962963 2.88889 0H13V2.88889H2.88889V23.1111H13V26H2.88889ZM18.7778 20.2222L16.7917 18.1278L20.475 14.4444H8.66667V11.5556H20.475L16.7917 7.87222L18.7778 5.77778L26 13L18.7778 20.2222Z' fill='white'/%3E%3C/svg%3E%0A");
}

/**작업하기**/
.workboard-page {
  display: flex;
}
.wrap {
  height: calc( 100vh - 141px );
}
.workboard-page .workboard_wrap  .eyes .eye-icon::after {
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
}
.workboard-page .workboard_wrap  .eyes .show::after {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0003 8.25C11.7297 8.25 12.4291 8.53973 12.9449 9.05546C13.4606 9.57118 13.7503 10.2707 13.7503 11C13.7503 11.7293 13.4606 12.4288 12.9449 12.9445C12.4291 13.4603 11.7297 13.75 11.0003 13.75C10.271 13.75 9.57151 13.4603 9.05578 12.9445C8.54006 12.4288 8.25033 11.7293 8.25033 11C8.25033 10.2707 8.54006 9.57118 9.05578 9.05546C9.57151 8.53973 10.271 8.25 11.0003 8.25ZM11.0003 4.125C15.5837 4.125 19.4978 6.97583 21.0837 11C19.4978 15.0242 15.5837 17.875 11.0003 17.875C6.41699 17.875 2.50283 15.0242 0.916992 11C2.50283 6.97583 6.41699 4.125 11.0003 4.125ZM2.91533 11C3.65622 12.5128 4.80669 13.7874 6.23593 14.6788C7.66517 15.5703 9.31586 16.0429 11.0003 16.0429C12.6848 16.0429 14.3355 15.5703 15.7647 14.6788C17.194 13.7874 18.3444 12.5128 19.0853 11C18.3444 9.48722 17.194 8.21265 15.7647 7.32118C14.3355 6.42972 12.6848 5.95712 11.0003 5.95712C9.31586 5.95712 7.66517 6.42972 6.23593 7.32118C4.80669 8.21265 3.65622 9.48722 2.91533 11Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
}
.workboard-page .workboard_wrap  .eyes .hide::after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5846 9.70508C10.2096 10.049 9.99893 10.5153 9.99902 11.0016C9.99912 11.4878 10.2099 11.9541 10.5851 12.2979C10.9602 12.6416 11.469 12.8347 11.9994 12.8346C12.5299 12.8345 13.0386 12.6413 13.4136 12.2974' stroke='%232D2D2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.681 15.2836C15.2786 16.0889 13.6548 16.5109 12 16.5C8.4 16.5 5.4 14.6667 3 11C4.272 9.05667 5.712 7.6285 7.32 6.7155M10.18 5.665C10.779 5.55349 11.3888 5.49821 12 5.5C15.6 5.5 18.6 7.33333 21 11C20.3333 12.0175 19.6207 12.8944 18.862 13.6308M3 2.75L21 19.25' stroke='%232D2D2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.workboard-page .workboard_wrap .reason {
  text-align: center;
}
.workboard-page .workboard_wrap .reason input[type="text"] {
  width: calc(100% - 28px); 
  font-size: 18px;
  border: 1px solid #E3E5E8;
  background-color: #F4F4F4;
  border-radius: 5px;
  outline: 0;
  padding: 15px 0 16px 16px;
}
.workboard-page .workboard_wrap .reason input[type="text"]::placeholder {
  color: #666;
}
.workboard-page .workboard_wrap .label_btn_wrap .end_btn input[type="submit"] {
  border: 0;
}
.label_list {
  height: calc(100% - 245px);
}
.label_list_style {
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 21px 0 32px;
}
.move {
  position: relative;
  width: 22px;
  height: 100%;
  font-size: 0;
  line-height: 0;
}
.label_list_style:hover, .label_list_style:active {
  background-color: #E9ECFD;
  box-shadow: 0 0 0 1px #5C67B0 inset;
}
.move::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8333 4.58333L11 2.75M11 2.75L9.16667 4.58333M11 2.75V19.25M11 19.25L12.8333 17.4167M11 19.25L9.16667 17.4167M17.4167 12.8333L19.25 11M19.25 11L17.4167 9.16667M19.25 11H2.75M2.75 11L4.58333 12.8333M2.75 11L4.58333 9.16667' stroke='%232D2D2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
}
.close {
  position: relative;
  width: 22px;
  height: 100%;
  font-size: 0;
  line-height: 0;
}
.close::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1169 1.72693L14.1176 1.72766C14.1219 1.73191 14.1335 1.7473 14.1335 1.77888C14.1335 1.81046 14.1219 1.82586 14.1176 1.83011L8.82015 7.12761L8.11304 7.83471L8.82015 8.54182L14.1176 13.8393C14.1251 13.8468 14.131 13.8556 14.135 13.8653C14.139 13.875 14.1411 13.8854 14.1411 13.896C14.1411 13.9065 14.139 13.9169 14.135 13.9266C14.131 13.9363 14.1251 13.9452 14.1176 13.9526C14.1102 13.96 14.1014 13.9659 14.0917 13.97C14.0819 13.974 14.0715 13.9761 14.061 13.9761C14.0505 13.9761 14.0401 13.974 14.0303 13.97C14.0206 13.9659 14.0118 13.96 14.0044 13.9526L8.70686 8.65511L7.99975 7.948L7.29265 8.65511L1.99515 13.9526C1.98771 13.96 1.97887 13.9659 1.96916 13.97C1.95944 13.974 1.94902 13.9761 1.9385 13.9761C1.92798 13.9761 1.91757 13.974 1.90785 13.97C1.89813 13.9659 1.8893 13.96 1.88186 13.9526C1.87442 13.9452 1.86852 13.9363 1.8645 13.9266C1.86047 13.9169 1.8584 13.9065 1.8584 13.896C1.8584 13.8854 1.86047 13.875 1.8645 13.8653C1.86852 13.8556 1.87442 13.8468 1.88186 13.8393L7.17936 8.54182L7.88647 7.83471L7.17936 7.12761L1.88186 1.83011C1.87442 1.82267 1.86852 1.81384 1.8645 1.80412C1.86047 1.7944 1.8584 1.78399 1.8584 1.77347C1.8584 1.76294 1.86047 1.75253 1.8645 1.74281C1.86852 1.73309 1.87442 1.72426 1.88186 1.71682C1.8893 1.70938 1.89813 1.70348 1.90785 1.69946C1.91757 1.69543 1.92798 1.69336 1.9385 1.69336C1.94903 1.69336 1.95944 1.69543 1.96916 1.69946C1.97888 1.70348 1.98771 1.70938 1.99515 1.71682L7.29265 7.01432L7.99903 7.72071L8.70614 7.01505L14.0036 1.72838L14.0051 1.72693C14.0124 1.71958 14.0211 1.71374 14.0307 1.70976C14.0403 1.70578 14.0506 1.70373 14.061 1.70373C14.0714 1.70373 14.0817 1.70578 14.0913 1.70976C14.1009 1.71374 14.1096 1.71958 14.1169 1.72693Z' fill='%232D2D2D' stroke='%232D2D2D' stroke-width='2.5'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
}
/**작업하기**/

/**작업내역**/
select {
  appearance:none;
  background-size: 15px auto;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.02259 3.30809C1.1398 3.19093 1.29874 3.1251 1.46447 3.1251C1.63019 3.1251 1.78914 3.19093 1.90634 3.30809L5.00009 6.40184L8.09384 3.30809C8.21172 3.19425 8.36959 3.13125 8.53347 3.13267C8.69734 3.1341 8.8541 3.19983 8.96998 3.31571C9.08586 3.43159 9.15159 3.58835 9.15301 3.75222C9.15444 3.91609 9.09144 4.07397 8.97759 4.19184L5.44197 7.72747C5.32476 7.84464 5.16582 7.91046 5.00009 7.91046C4.83436 7.91046 4.67542 7.84464 4.55822 7.72747L1.02259 4.19184C0.905422 4.07464 0.8396 3.9157 0.8396 3.74997C0.8396 3.58424 0.905422 3.4253 1.02259 3.30809Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 15px center;
}
.worklist-page .search {
  background-size: 18px auto;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.87543 1.5C6.85888 1.50009 5.85708 1.74327 4.95363 2.20927C4.05017 2.67527 3.27125 3.35056 2.68186 4.17882C2.09247 5.00707 1.70969 5.96426 1.56547 6.97053C1.42124 7.97681 1.51975 9.00298 1.85277 9.96344C2.18579 10.9239 2.74367 11.7908 3.47986 12.4918C4.21605 13.1928 5.10921 13.7076 6.08482 13.9932C7.06043 14.2788 8.09019 14.327 9.0882 14.1337C10.0862 13.9404 11.0235 13.5112 11.8219 12.882L14.5609 15.621C14.7024 15.7576 14.8918 15.8332 15.0885 15.8315C15.2851 15.8298 15.4732 15.7509 15.6123 15.6119C15.7514 15.4728 15.8302 15.2847 15.8319 15.0881C15.8336 14.8914 15.7581 14.702 15.6214 14.5605L12.8824 11.8215C13.6234 10.8815 14.0848 9.7518 14.2138 8.56179C14.3427 7.37179 14.134 6.16952 13.6116 5.09257C13.0892 4.01562 12.2741 3.10752 11.2597 2.47217C10.2452 1.83683 9.07241 1.49992 7.87543 1.5ZM3.00043 7.875C3.00043 6.58207 3.51405 5.34209 4.42829 4.42785C5.34253 3.51361 6.5825 3 7.87543 3C9.16837 3 10.4083 3.51361 11.3226 4.42785C12.2368 5.34209 12.7504 6.58207 12.7504 7.875C12.7504 9.16793 12.2368 10.4079 11.3226 11.3221C10.4083 12.2364 9.16837 12.75 7.87543 12.75C6.5825 12.75 5.34253 12.2364 4.42829 11.3221C3.51405 10.4079 3.00043 9.16793 3.00043 7.875Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 13px center;
}
thead th {
  position: sticky;
  top: 0;
  color: #3d3d3d;
  border-top: 2px solid #5C67B0;
  line-height: 69px;
  font-weight: 700;
}
thead th::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 50%;
  background-color: #C5C9D6;
  content: "";
}
thead th:last-child:after {
  display: none;
}
th, td {
  border-bottom: 1px solid #9DA4D0;
  line-height: 110px;
  text-align: center;
}
tbody span {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.list_img {
  width: 140px;
  object-fit: contain;
  border-radius: 5px;
}
tbody td em {
  font-size: 15px;
  line-height: 40px;
  display: inline-block;
  border-radius: 30px;
  width: 90px;
}
tbody td[title="작업완료"] em {
  background-color: #EDEDED;
  border: 1px solid #666666;
}
tbody td[title="작업불가"] em {
  background-color: #FFCDDB;
  border: 1px solid #DC3268;
}
tbody td[title="작업중"] em {
  background-color: #FFF1B4;
  border: 1px solid #FFC000;
}
.pagenation .page {
  width: 34px;
  line-height: 34px;
  text-align: center;
  display: inline-block;
}
.cts_brochure .board_paging .btn_prev ,.cts_brochure .board_paging .btn_next {
  width: 50px;
  height: 50px;
  font-size: 0;
  line-height: 0;
  border-radius: 100%;
  border: 1px solid #666;
  background-repeat: no-repeat;
  background-size: 36px auto;
}
/**작업내역**/