@use '../abstracts/colors' as *;

.login_page {
  width: 670px;
  margin: 0 auto;
}

.login_header {
  font-family: 'SUITE', sans-serif;
  text-align: center;
  margin-bottom: 38px;

  &__title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__desc {
    color: #333;
    font-weight: 500;
    margin-top: 1.6rem;
  }
}

.login_form {
  display: flex;
  flex-direction: column;
  padding: 6rem 14rem;
  gap: 1rem;
  border: 1px solid #e1e1e1;

  label {
    color: #212121;
    font-weight: 600;
    &[for="password"] {
      margin-top: 14px;
    }
  }

  input {
    line-height: 5.4rem;
    padding: 0 14px;
    font-size: 15px;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;
    max-width: 100%;
    height: 5.4rem;
    flex: auto;

    &::placeholder {
      color: #767676;
    }

    &:focus {
      outline: 1px solid #2970FF;
      background: #FFF;
      box-shadow: 0px 0px 0px 3px rgba(41, 112, 255, 0.15);
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px #fff inset !important;
      -webkit-text-fill-color: #000 !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

.password_wrapper {
  display: flex;
  align-items: center;
  position: relative;

  input {
    line-height: 5.4rem;
    padding: 0 14px;
    font-size: 15px;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;
    max-width: 100%;
    height: 5.4rem;
  }

  .toggle_password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 18px;
    height: 18px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;

    &.is_visible {
      background-image: url('../../img/icon/ic-lock.svg');
    }

    &.is_hidden {
      background-image: url('../../img/icon/ic-lockopen.svg');
    }
  }
}

.remember_id {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  letter-spacing: -0.05em;

  label {
    color: #767676;
    line-height: 22px;
    font-weight: 400;
  }
}

.login_button {
  background-color: #0E2D69;
  color: #fff;
  padding: 19px;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  font-family: 'SUITE', sans-serif;
  margin-top: 1rem;

  &:hover {
    background-color: #0a2555;
  }
}
