@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;
@use '../base/base' as *;
@use '../base/typography' as *;

.modal_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 2.6rem 3.5rem;
    .modal_header {
        @include flex(space-between, center);
        h1 {
            font-size: 2.6rem;
            font-weight: 700;
        }
        button {
            width: 6rem;
            height: 6rem;
            padding: 2rem;
            background: url(../img/icon/ic-modal-delete.svg) no-repeat center center;
            background-size: 1.8rem;
        }
        padding-bottom: 2.6rem;
        border-bottom: 1px solid $neutral-grey-lighter;
    }
    
    .modal_content {
        width: 100%;
        
        .data_table {
            td {
                max-width: 12rem;
            }
        }
        .modal_detail_box {
            padding-top: 1.2rem;
            .md_tit {
                font-size: 2rem;
                font-weight: 700;;
            }
            .policy_item {
                @include flex(space-between, center);
                p {
                    margin-bottom: 0;
                    padding: 0 0.5rem;
                }
                button {
                    font-size: 1.5rem;
                    padding:  1rem 0.8rem;
                    height: 3rem;
                }
            }
            th {
                background-color: $off-white-2;
            }
        }
    }
    .btn_wrap {
        padding: 2rem 0 0 0 ;
    }
}