@use '../abstracts/colors' as * ; 
@use '../abstracts/variables' as *;
@use '../base/base.scss' as *;
@use '../base/typography.scss' as *;



.popup {
  position: fixed;
  inset: 0;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    position: relative;
    background: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 2.4rem;

    &.popup_small {
      max-width: 420px;
      width: 100%;
    }
    .popup_title {
      font-size: 1.8rem;
    }
    .popup_body {
      textarea {
        width: 100%;
        height: 11rem;
        padding: 1rem 1.2rem;
      }
      border-radius: 0.4rem;
      border: 1px solid $text-color-placeholder;
      &::placeholder {
        color: $gray-disabled-text;
      }
    }
  }

  &_header,
  &_body{
    margin-bottom: 1.6rem;
  }

  &_footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
