@use '../abstracts/colors';
@use '../abstracts/variables';
@use '../base/base.scss';
@use '../base/typography.scss';

//통합검색 

.total_search_bar {
    position: absolute;
    top: variables.$header-height; // 헤더 높이 사용
    left: 0;
    width: 100%;
    height: 17rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    &.sd_border {
        border-bottom: 1px solid colors.$border-color-lightest;
    }
    #searchForm {
        display: flex;
        justify-content: center;
    }
    .tsb_box {
        @include base.flex(center, center);
        position: relative;
        width: 960px;
        height: 7rem;
        border: 3px solid colors.$brand-blue-primary;
        box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.03);
        border-radius: 16px;
        background-color: colors.$white;
        overflow: hidden;
        &::before {
            position: absolute;
            top: 1.5rem;
            left: 22rem;
            bottom: 1.5rem;
            width: 1px;
            background-color: colors.$text-color-muted;
            content: "";
        }
        .tsb_select {
            position: relative;
            min-width: 160px;
            height: 6.8rem;
            margin: 0 2.7rem 0 3.4rem;
            background: transparent url(../img/icon/ic-select_arrow.svg) no-repeat center right / auto 22px;
            font-size: 2rem;   
            font-weight: 500;
            appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
        }
        .searchForm_input_wr {
            position: relative;
            width: 100%;
        }
        .tsb_input {
            position: relative;
            height: 68px;
            line-height: 68px;
            padding: 0 4rem;
            font-size: 2rem;
            font-weight: 500;
            width: 100%;
            max-width: none;
            outline: none;
        }
        input {
            &::placeholder {
                color: colors.$text-color-subtle;
            }
        }
        .tsb_btn {
            position: relative;
            padding: 1rem ;
            margin-left: 1.2rem;
            margin-right: 0.8rem;
            border-radius: 12px;
            background-color: colors.$brand-blue-primary;
            font-size: 2rem;
            font-weight: 500;
            color: colors.$white;
            @include base.flex(center, center);
            gap: 1rem;
            .ic_search {
                display: inline-block;
                width: 28px;
                height: 28px;
                background: url(../img/icon/ic-total-search.svg) no-repeat center center;
            }
            span {
                line-height: 2.2rem;
                display: block;
                word-break: keep-all;
            }
            

        }
    }
}
.main {
    padding: 0 3rem;
    padding-top: calc(variables.$header-height + 3.2rem) ;
    min-height: calc(100vh - variables.$header-height - variables.$footer-height); // 헤더, 풋터 높이만큼 제외
    &.total_search_wrap {
        padding-top: calc(variables.$search-bar-height + variables.$header-height); // 검색 바 높이와 헤더 높이 합산
    }
    &.tsb_main_content {
        padding-top: calc(variables.$header-height + variables.$search-bar-height);
    }
}

.sub_top_area {
    position: relative;
    align-items: flex-start; 
    .total_search_nav {
        padding-bottom: 4.6rem;
    }
    .twoline {
        border-bottom: 2px solid colors.$brand-blue-primary;
        @include base.flex(flex-start, center);
        li {
            border-radius: 1rem 1rem 0 0;
            flex-grow: 1;
            max-width: max-content;
            min-width: 15rem;
            padding: 0 2rem;
            font-size: 1.8rem;
            font-weight: 500;
            &.on, &:hover {
                background-color: colors.$brand-blue-primary;
                color: colors.$white;
                font-weight: 600
            }
            a {
                @include base.flex(center, center);
                gap: 0.4rem;
                height: 6.2rem;
                line-height: 2.2rem;
                transition: 0.3s;
                .count {
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.search_summary {
    padding: 2rem 0;
    background-color: colors.$off-white-3;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    .highlight {
        color: colors.$brand-blue-primary;
    }
}
.search_layout {
    @include base.flex(space-between, flex-start);
    padding-top: 4.6rem;
    position: relative;
    padding-right: 25.3rem;
    .search_layout_main {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        width: 100%;
        margin-right: 2.6rem;
        .search_layout_content {
            .search_header {
                @include base.flex(space-between, center);
                padding-bottom: 2rem;
                border-bottom: 3px solid #000;
                .search_title {
                    font-size: 2.1rem;
                    .search_keyword {
                        font-weight: 700;
                    }
                    .search_count {
                        color: colors.$brand-blue-primary;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                    }
                }
                .search_more {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    color: colors.$text-color-subtle-dark;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 1;
                    .ic_more {
                        width: 1.8rem;
                        height: 1.8rem;
                        background: url(../img/icon/ic-more-arrow.svg) no-repeat center center;
                    }
                }
            }
            .search_item {
                padding: 3rem;
                border-top: 1px solid colors.$background-color-lighter;
                &:hover {
                    background-color: colors.$off-white-5;
                }
                .search_item_title_wrap {
                    padding: 1.5rem 0 1.6rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                    .search_item_title {
                        font-size: 1.8rem;
                        font-weight: 600;
                    }
                    .search_item_subtitle {
                        color: colors.$text-color-placeholder;
                    }
                }
                .search_item_meta {
                    display: flex;
                    gap: 4rem;
                    .search_item_meta_item {
                        display: flex;
                        gap: 1rem;
                        dt {
                            font-weight: 500;
                            color: colors.$text-color-tertiary;
                        }
                        dd {
                            color: colors.$text-color-quaternary;
                        }
                    }

                }
            }
            .search_result_list {
                border-bottom: 1px solid colors.$neutral-dark-2;
            }
        }
    }
    .search_layout_side {
        min-width: 25.3rem;
        position: absolute;
        top: 8rem;
        right: 0;
        .compare_box {
            padding: 2.4rem 2rem;
            border: 1px solid colors.$background-color-lighter;
            border-radius: 2rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
            .compare_header {
                @include base.flex(space-between, center);
                padding-bottom: 1.6rem;
                border-bottom: 1px solid colors.$background-color-lighter;
                .compare_title {
                    font-size: 2.2rem;
                }
                .compare_count {
                    display: block;
                    padding: 0 0.8rem;
                    border-radius: 5rem;
                    background-color: colors.$background-color-lighter;
                    color: colors.$neutral-grey-medium;
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                }
            }
            .compare_body {
                .compare_label_wrap {
                    padding: 2rem 0;
                    @include base.flex(space-between, center);
                    .label {
                        font-size: 1.8rem;
                        font-weight: 500;
                        line-height: 2.2rem;
                    }
                    .add_btn {
                        border-radius: 5rem;
                        border:  1px solid colors.$brand-blue-primary;
                        width: 31px;
                        height: 31px;
                        font-size: 0;
                        line-height: 0;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='none' viewBox='0 0 19 19'%3e%3cpath fill='%232970FF' fill-rule='evenodd' d='M10.39 8.61h5.344a.89.89 0 1 1 0 1.78h-5.343v5.344a.89.89 0 1 1-1.782 0v-5.343H3.266a.89.89 0 1 1 0-1.782h5.343V3.266a.89.89 0 1 1 1.782 0v5.343Z' clip-rule='evenodd'/%3e%3c/svg%3e") ;
                        background-repeat: no-repeat;
                        background-position: center center;
                        &:hover {
                            background-color: colors.$brand-blue-primary;
                            transition: 0.2s all;
                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='none' viewBox='0 0 19 19'%3e%3cpath fill='%23ffffff' fill-rule='evenodd' d='M10.39 8.61h5.344a.89.89 0 1 1 0 1.78h-5.343v5.344a.89.89 0 1 1-1.782 0v-5.343H3.266a.89.89 0 1 1 0-1.782h5.343V3.266a.89.89 0 1 1 1.782 0v5.343Z' clip-rule='evenodd'/%3e%3c/svg%3e") ;
                        }
                    }
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                    padding-bottom: 2rem;
                    border-bottom: 1px solid colors.$background-color-lighter;
                    li {
                        @include base.flex(space-between, center);
                        .compare_item_title { 
                            .tag {
                                margin-right: 0.5rem;
                            }
                            .name {
                                font-size: 1.6rem;
                            }
                        }
                        .remove_btn {
                            width: 2.6rem;
                            height: 2.6rem; 
                            font-size: 0;
                            line-height: 0;
                            background: url(../img/icon/ic-delete.svg) no-repeat center center;
                        }
                    }
                }
            }
            .compare_footer {
                padding-top: 2.2rem;
                .submit_btn {
                    padding: 1.2rem 0;
                    width: 100%;
                    background-color: colors.$text-color-primary;
                    color: colors.$white;
                    border-radius: 0.4rem;
                    font-size: 1.6rem;
                }
                .note {
                    margin-top: 0.5rem;
                    color: colors.$text-color-tertiary;
                    font-size: 1.3rem;
                    line-height: 2.2rem; 
                    letter-spacing: -0.013rem;
                }
            }
        }
    }
    
}

//통합세부내용

.search_detail {
    padding-top: 4.8rem;
    .search_detail_title {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        .search_item_title {
            font-size: 3rem;
            font-weight: 700;
        }
        .search_item_subtitle {
            color: colors.$text-color-placeholder;
        }
    }
}
.search_detail_wrapper {
        display: flex;
        flex-direction: column;
        gap: 7rem;
        .sd_content {
            margin: 3rem 0;
            padding-top: 3rem ;
            border-top: 2px solid colors.$text-color-primary;
            p {
                line-height: 3.8rem;
               &.cn_t {
                font-weight: 600;
               } 
            }
            .cn_space {
                height: 2.4rem;
            }
        }
    }