@use '../abstracts/colors' as *;
@use '../base/base.scss' as *;
@use '../base/typography.scss' as *;
@use '../abstracts/variables' as *;



.content_area {
    width: calc($layout-max-width-container - $layout-min-lnb-width - 6rem);
}
.page_header {
    display: flex;
    gap: 2.4rem;
    flex-direction: column-reverse;
    margin-bottom: 4rem;
    .page_title {
        font-size: 2.6rem;
        font-weight: 700;
    }
    .breadcrumb  {
        display: flex;
        align-items: center;
        line-height: 1.8rem;
        color: $neutral-grey-medium-dark;
        .home {
            width: 1.8rem;
            height: 1.8rem;
            background: url(../img/icon/ic-home.svg) no-repeat center center;
            span {
                font-size: 0;
                line-height: 0;
            }
        }
        .arrow_icon {
            padding: 0 1.6rem;
            width: 2.2rem;
            height: 2.2rem;
            background: url(../img/icon/ic-breadcrumb.svg) no-repeat center center;
        }
        a {
            &.current {
                color: $text-color-primary;
                font-weight: 700;
            }
        }
    }
}
 
.content_search_section {
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    width: 100%;
    padding: 2.5rem 4rem 2.5rem 8.4rem;
    background-color: $off-white-2;
    position: relative;
    display: flex;
    gap: 0.8rem;
        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 4rem;
            font-size: 1.6rem;
            content: "검색";
            font-weight: 700;
        }
    .search_input {
        padding: 1rem 1.6rem;
        height: 4rem;
        background-color: $white;
        border-radius: .4rem;
        width: calc(100% - 6.8rem);
        max-width: none;
        &::placeholder {
            color: $neutral-grey-subtle;
        }
    }
}

.detail_search {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    background-color: $off-white-2;
    padding: 2.6rem 4rem;
    margin-top: 2.7rem;
    margin-bottom: 3rem;
    .detail_search_section {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;
            &.section_border {
                padding: 2rem 0 0 0;
                border-width: 1px 0 0 0;
                border-style: dashed;
                border-color: rgba(0, 0, 0, 0.12);

            } 
        .search_input {
            padding: 1rem 1.6rem;
            height: 4rem;
            background-color: $white;
            border-radius: 0.4rem;
            width: calc(100% - 6.8rem);
            max-width: none;

            &::placeholder {
            color: $neutral-grey-subtle;
            }
        }

        .content_search_label {
            display: flex;
            align-items: center;
            width: 100%;

            span.label {
            white-space: nowrap;
            font-weight: 700;
            margin-right: 2rem;
            min-width: 5rem;
            }
        }

        // 🔽 790px 이하 반응형 처리
        @media (max-width: 900px) {
            flex-wrap: wrap;
            flex-direction: column;
            gap: 1.6rem;
        }
    }
}



.content_actions {
    @include flex(space-between, flex-end);
    padding: 0 0 1.2rem 0;
    .total_count  {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 24px;
        .count {
            color: $brand-blue-primary;
        }
    }
    
}

.flex_end {
    @include flex(flex-end, center);
}
.justify_between {
    @include flex(space-between, center);
}

.report_form_container {
    gap: 2.4rem;
}