@use '../abstracts/colors' as *;
@use '../base/base.scss' as *;
@use '../base/typography.scss' as *;
@use '../abstracts/variables' as *;



.content_area {
    width: calc($layout-max-width-container - $layout-min-lnb-width - 6rem);
}
.page_title1 {  
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-left: 2.4rem;
    position: relative;
    &::before {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1.8rem;
        height: 1.8rem;
        content: '';
        border-radius: 5rem;
        // background: linear-gradient(180deg, #212937 0%, #E85268 100%);
        background-color: #E85268;

        position: absolute;
    }
    &::after {
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
        width: 0.8rem;
        height: 0.8rem;
        content: '';
        border-radius: 5rem;
        background-color: #fff;
        position: absolute;
    }
}
.page_header {
    display: flex;
    gap: 1.2rem;
    flex-direction: column-reverse;
    margin-bottom: 4rem;
    .page_title {
        font-size: 4rem;
        font-weight: 700;
    }
    .breadcrumb  {
        display: flex;
        align-items: center;
        line-height: 1.8rem;
        color: $neutral-grey-medium-dark;
        .home {
            width: 1.8rem;
            height: 1.8rem;
            background: url(../img/icon/ic-home.svg) no-repeat center center;
            span {
                font-size: 0;
                line-height: 0;
            }
        }
        .arrow_icon {
            padding: 0 1.6rem;
            width: 2.2rem;
            height: 2.2rem;
            background: url(../img/icon/ic-breadcrumb.svg) no-repeat center center;
        }
        a {
            &.current {
                color: $text-color-primary;
                font-weight: 700;
            }
        }
    }
}
 
.content_search_section {
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    width: 100%;
    padding: 2.5rem 4rem 2.5rem 8.4rem;
    background-color: $off-white-2;
    position: relative;
    display: flex;
    gap: 0.8rem;
        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 4rem;
            font-size: 1.6rem;
            content: "검색";
            font-weight: 700;
        }
    .search_input {
        padding: 1rem 1.6rem;
        height: 3.8rem;
        background-color: $white;
        border-radius: .4rem;
        width: calc(100% - 6.8rem);
        max-width: none;
        &::placeholder {
            color: $neutral-grey-subtle;
        }
    }
}

.detail_search {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    background-color: $off-white-2;
    padding: 2.6rem 12rem 2.6rem 4rem;
    margin-top: 2.7rem;
    margin-bottom: 3rem;
    .detail_search_section {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
            &.section_border {
                padding: 2rem 0 0 0;
                border-width: 1px 0 0 0;
                border-style: dashed;
                border-color: rgba(0, 0, 0, 0.12);

            } 
        .search_input {
            padding: 1rem 1.6rem;
            height: 3.8rem;
            background-color: $white;
            border-radius: 0.4rem;
            width: calc(100% - 6.8rem);
            max-width: none;

            &::placeholder {
            color: $neutral-grey-subtle;
            }
        }

        .content_search_label {
            display: flex;
            align-items: center;
            &.search_section {
                width: 100%;
            }

            

            span.label {
            white-space: nowrap;
            font-weight: 700;
            margin-right: 2rem;
            }
        }

    }
}



.content_actions {
    @include flex(space-between, flex-end);
    padding: 0 0 1.2rem 0;
    .total_count  {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 24px;
        .count {
            color: $brand-blue-primary;
        }
    }
    
}

.flex_end {
    @include flex(flex-end, center);
}
.justify_between {
    @include flex(space-between, center);
}

.report_form_container {
    gap: 2.4rem;
}



//단어 추출 관리 

.wordExtractCtResultTable {
    .title {
        font-size: 2rem;
        font-weight: 600;
        color: #212121;
    }
}
.wordCt {
    .word {
        display: inline-block;
        padding: 0.4rem 1.6rem;
        border-radius: 5rem;
        background-color: rgba(0, 0, 0, 0.08);
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-bottom: 0.8rem;
    }
}