@use '../abstracts/colors';
@use '../base/base.scss';   
@use '../abstracts/variables';
@use '../base/typography.scss';

.footer {
    margin-top: 10rem;
    padding: 3rem 4.3rem;
    background-color: colors.$background-color-soft;
    
   .container {
        .footer_wrapper {
        @include base.flex(space-between, center);
            
            .footer_details {
                color: colors.$text-color-quaternary;
                line-height: 150%; 
            }

            .feedback_btn {
                padding: 1rem 2rem;
                background-color: colors.$white;
                font-size: 1.6rem;
                font-weight: 500;
                border: 1px solid #DCDCDC;
                border-radius: 0.5rem;
                color: #222;
            }
        }
        
   } 
}

