@use '../abstracts/colors' as *;
@use '../base/base.scss' as *;
@use '../base/typography' as *;
@use '../abstracts/variables' as *;

/* =======================================================================================
   header
======================================================================================= */
.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  background-color: #fff;
  color: $text-color-primary;
  animation: dropUp 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-bottom: 1px solid $background-color-lighter;

  &.active {
    transition-delay: .2s;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $neutral-grey-lighter;
      position: absolute;
      left: 0;
      top: 12rem;
    }

    &::after {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: .3;
      z-index: -1;
    }

    .topmenu {
      .depth1 {
        a.active::before {
          opacity: .3;
        }

        &.active {
          a.active::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &.fixed {
    position: fixed;
    animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .logo {
    float: left;
    margin: 3rem 0;
    width: 24.1rem;
    height: 5.8rem;

    a {
      display: block;
      height: 100%;
      background: url(../img/logo.svg) 0 0/auto 5.8rem no-repeat;
      position: relative;
      z-index: 1;
    }
  }

  .gnb_area {
    background-color: #fff;
    .gnb_left {
        float: left;
        width: calc(100% - 26rem);
    }
    .gnb_util {
        float: right;
        width: 26rem;
    }
  }

  .nav {
    float: right;
    width: calc(100% - 36rem);
    position: relative;

    .container {
      z-index: 1;
    }
  }
}

@keyframes dropUp {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes dropDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.topmenu {
  display: flex;
  justify-content: center;

  .depth1 {
    flex: 1 1 20%;

    > a {
      display: block;
      width: 100%;
      white-space: nowrap;
      text-align: center;
      position: relative;
      line-height: 12.1rem;
      letter-spacing: -.025em;
      font-size: 2rem;
      font-weight: 500;
      color: $text-color-primary;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 3px;
        width: 0;
        background-color: $brand-blue-primary;
        transition: .2s;
        z-index: 10;
      }
    }

    &.active {
      > a::before {
        width: 100%;
      }

      .submenu {
        opacity: 1;
        visibility: visible;
        max-height: 100rem;
        min-height: 20rem;
        transition-delay: .2s;
        
      }
    }
  }

  .submenu {
    transition: 0.35s, max-height 1.35s cubic-bezier(0.13, 0.67, 0.59, 0.98);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    left: 0;
    top: 12rem;
    z-index: 20;
    width: 100%;
    background-color: #fff;
    border-width: 0 1px 0 0 ;
    border-color: $background-color-lighter;
    border-style: solid;
    height: calc(100% - 12.1rem);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12);
    font-weight: 600;
    &.first {
        border-left: 1px solid  $background-color-lighter;
    }
    

    .depth2 {
      position: relative;
      overflow-y: auto;

      > li {
        flex: 0 0 23.2%;
        position: relative;

        > a {
          display: block;
          padding: 1rem 2rem;
          font-size: 1.6rem;
          color: $text-color-quaternary;
        }

        .depth3 {
          margin: 0 0 0.6rem .3rem;

          > li > a {
            color: #888;
            display: block;
            margin: 0 .5rem 0 .2rem;
            padding: .2rem 2rem;
            position: relative;
            font-size: 1.5rem;

            &:focus {
              outline: 2px solid $white;
              border-radius: 5px;
            }

          }
        }
      }
    }
  }

  &.fullmenu {
    .depth1 {
      > a::before {
        width: 0;
      }

      &:hover, &.on {
        > a {
          background-color: $white;
          color: $brand-blue-primary;
          font-weight: 700;

          &::before {
            width: 100%;
          }

          span::after {
            opacity: 1;
            transform: scale(1);
          }
        }

        .submenu {
          background-color: $off-white-4;
          color: $text-color-primary;
          transition: background-color .3s;
          

          .depth2 {
            a {
              &:hover {
                text-decoration: underline;
                color: $text-color-primary;
              }
            }

            .depth3 a {
                &:hover {
                    background-color: transparent;
                }
              
            }
          }
        }
      }

      &.active .submenu {
        transition: padding 0.02s, opacity 0.3s, max-height 1s cubic-bezier(0.13, 0.67, 0.59, 0.98);
        min-height: inherit;
        transition-delay: .2s;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }

    .submenu {
      transition: .35s;
      width: auto;
      position: static;
      left: auto;
      background-color: transparent;
      box-shadow: none;

      .depth2 {
        padding-left: 0;
        max-width: inherit;
        display: block;
        margin: 0;

        > li > a {
          border: 0;

          &:focus {
            outline: 2px solid $white;
            border-radius: 5px;
          }
        }
      }
    }
  }
}






.gnb_util {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 12rem;
        .login_area {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        .logged_out {
            display: none; 
            .btn_login {
                color: $text-color-primary;
                font-size: $font-size-16;
                font-weight: 600;

            }
            
        }
        .logged_in {
            .user_info {
                display: flex;
                align-items: center;
                gap: 0.6rem;

                .user_thumb {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background-color: $fill-color-subtle;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem;
                }

                .user_name {
                    color: $text-color-primary;
                    font-size: $font-size-16;
                    strong {
                        font-weight: 600;
                    }
                }
            }

            .btn_logout {
                padding: 0.5rem 1.6rem;
                color: $neutral-grey-medium-dark;
                border: 1px solid $border-color-light;
                border-radius: 50px;
                font-weight: 600;
                font-size: $font-size-14;
                &:hover {
                    background: $border-color-light;
                    transition: all .2s;
                }
            }
        }
        .btn_sch {
            width: 6rem;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-size: 0;
                line-height: 0;
            }
        }
    }





