@use '../abstracts/colors' as *;
@use '../base/base.scss' as *;
@use '../base/typography' as *;
@use '../abstracts/variables' as *;


.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: $brand-blue-bg-dark;
  height: $header-height;
  color: $white;
  transition: background-color 0.5s ease, color 0.5s ease; // fixed 전환용

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: $header-height;
    width: 100%;
    height: 0;
    background-color: transparent;
    z-index: 1;
    box-shadow: none;
    transition: height 0.4s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  }


  .gnb_area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 5;

    .tnb_area {
      position: absolute;
      top: 2rem;
      right: 0;

      .tnb_util {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.6rem;
        .login_area {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            color: #A2ABC2;
            font-weight: 400;
        }
        .logged_out {
          display: none; 
            
        }
        .logged_in {
          // display: none; 
            .user_info {
                display: flex;
                align-items: center;
                gap: 0.7rem;
                

                .user_thumb {
                    width: 1rem;
                    height: 1.1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .user_name {
                    font-size: $font-size-16;
                    strong {
                        font-weight: 500;
                    }
                }
            }
            .member_link {
              padding-right: 1.7rem;
              position: relative;

              &::after {
                position: absolute;
                top: 50%;
                right: 0;
                width: 0.15rem;
                height: 1.5rem;
                background-color: #314064;
                transform: translateY(-50%);
                content: "";
              }
            }
        }
        
    }

    }

    .gnb {
      ul {
        &.depth01 {
          display: flex;
          text-align: center;

          > li {
            width: 17rem;

            a {
              display: block;

              span {
                position: relative;
                display: inline-block;
                line-height: $header-height;
                font-size: 2.1rem;
                font-weight: 600;
                padding: 0.4rem 2rem 0 2rem;

                // 밑줄 애니메이션
                &::after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  bottom: 0.4rem;
                  width: 100%;
                  height: 7px;
                  background-color: $brand-blue-primary;
                  transform: translateX(-50%) scaleX(0);
                  transform-origin: center;
                  transition: transform 0.4s ease;
                }

                // 새창 아이콘
                &.newtab {
                  padding-right: 4.3rem;
                  position: relative;

                  &::before {
                    content: '';
                    position: absolute;
                    top: 51%;
                    right: 2rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    background: url(../img/icon/ic-newtab.svg) no-repeat center;
                    transform: translateY(-50%);
                  }
                }
              }
            }

            // hover 또는 on class일 때 밑줄 나타나게
            &:hover > a span::after,
            &.on > a span::after,
            &[data-menu="on"] > a span::after {
              transform: translateX(-50%) scaleX(1);
            }
          }
        }

        // 이하 depth02, depth03는 변경 없이 유지
        &.depth02 {
          display: none;
          height: 500px;
          overflow: hidden;
          padding: 2.8rem 0 6rem 0;

          > li {
            padding: 0 2rem;
            color: $text-color-tertiary;

            &:hover {
              color: $brand-blue-primary;
            }

            &:not(:first-child) {
              margin-top: 1.2rem;
            }

            a {
              word-break: keep-all;
              display: block;
              font-size: 1.7rem;
              font-weight: 500;
            }
          }
        }

        &.depth03 {
          text-align: center;
          padding-top: 1.4rem;

          > li {
            color: $text-color-subtle;

            &:hover {
              color: $brand-blue-primary;
            }

            &:not(:first-child) {
              margin-top: 1rem;
            }

            a {
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
        }
      }
    }     


  }

  .logo {
    margin: 5rem 0;
    a {
      display: block;
      width: 29.5rem;
      height: 4.9rem;
      background: url(../img/logo_w.svg) 0 0/auto 4.9rem no-repeat;
    }
  }

  .gnb_search {
    margin-top: 6rem;
      .gnb_search_inner {
        position: relative;
        width: 24rem;
        border-radius: 0.5rem;
        outline-color: #131C2C;
        background: $white;
        input {
          padding: 0.6rem 1.7rem;
          color: $text-color-primary;
          &::placeholder {
            color: #A2A1BB;
          }
          &:placeholder-shown {
            outline-color: #131C2C;
          }

          &:not(:placeholder-shown):not(:focus) {
            outline-color: #131C2C;
          }

          &:focus {
            outline: 1px solid #131C2C;
          }
        }
        .btn_sch {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 4rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
              font-size: 0;
              line-height: 0;
          }
        }
      }
  }

  .gnb_bg {
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    content:'';
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
  }

  /*********** 메뉴에 오버했을 때  -- Start ***********/
  &.menu_over {
    z-index: 9999 !important;
    background-color: $brand-blue-bg-dark;
    transition-delay: 0.6s; // 부드러운 딜레이
    
    &::before {
      position: absolute;
      left: 0;
      top: $header-height;
      z-index: 4;/*맨 아래*/
      width: 100%;
      height: 500px;
      background-color: #fff;
      content: "";
      transition: height 0.4s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    }
    @keyframes expandHeight {
      from {
        height: 0;
      }
      to {
        height: 500px;
      }
    }
    
    &::after {
      position: absolute;
        left: 0;
        top: $header-height;
        z-index: 10;/*맨 아래*/
        width: 100%;
        height: 1px;
        background-color: #eee;
        content: "";
    }

    .gnb {
      position: relative;
      ul {

        &.depth01 {
          >li {
            a {
              span {
                &.sub04 {
                  line-height: inherit;
                  font-size: inherit;
                  color: inherit;
                  font-weight: inherit;
                  &::before {
                    background: url(../img/icon/ic-newtab_b.svg) no-repeat center;
                  }
                }
              }
            } 
          }
        }

        &.depth02 {
          display: block;
        }


        
      }
    }

    .gnb_bg {
      display: block;
      z-index: 2;
    }
   
  }



  /*********** 메뉴에 상단에 고정했을 때  -- start ***********/
  // &.fixed {
  //   color: $text-color-primary;
  //   background-color: #fff;
  //   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
    

  //   .logo a {
  //     background: url(../img/logo.svg) 0 0/auto 4.9rem no-repeat;
  //   }

  //   .gnb_area {
  //     .tnb_area {
  //       .tnb_util {
  //         .login_area {
  //             color: $brand-blue-bg-dark;
  //         }
  //         .logged_in {
  //           .user_info {
  //             &::after {
  //               background-color: #ddd;
  //             }
  //           }
  //         } 
  //       }
  //     }
  //   }
  //   .gnb {
  //     ul {
  //       &.depth01 {
  //         >li {
  //           &.on, &[data-menu="on"] {
  //             color: $brand-blue-primary;
  //           }
  //           a {
  //             span {
  //               &.sub04 {
  //                 line-height: inherit;
  //                 font-size: inherit;
  //                 color: inherit;
  //                 font-weight: inherit;
  //                 &::before {
  //                   background: url(../img/icon/ic-newtab_b.svg) no-repeat center;
  //                 }
  //               }
  //             }
  //           } 
  //         }
  //       }
  //     }
      
  //   }
  //   .gnb_search {
  //     .gnb_search_inner {
  //       input{
  //         &:placeholder-shown {
  //             outline-color: #ddd;
  //         }

  //         &:not(:placeholder-shown):not(:focus) {
  //           outline-color: #ddd;
  //         }

  //         &:focus {
  //           outline: 1px solid #ddd;
  //         }
  //       }
        
  //     } 
  //   }
    

    
  // }

}