/* Sidebar */

/* Sidebar - Header */

.euc-sidebar-header { 
    display: flex;
    padding: 1rem;
    height: 9.2rem;
    align-items: center;
    justify-content: space-between;
} 
.euc-logo-img {
    min-width: 3rem;
    min-height: 2.6rem;
    flex-shrink: 0;
}
.euc-logo {
    display: flex;
    align-items: center;
    gap: 0.9rem;  
}
.euc-name {
    color: var(--euc-text-gray-800);
    font-weight: var(--euc-font-bold);
    font-size: 2.1rem;
}

/* Sidebar - newchat */

.euc-newchat {
    padding: var(--euc-p-5);
    margin-top: var(--euc-m-11);
}
.euc-newchat a {
    display: flex;
    width: 100%;
    align-items: center;
}
.euc-newchat p {
    margin: 0 1.9rem 0 0.7rem;
    font-weight: var(--euc-font-semibold);
}
.euc-ico.plus {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><circle cx="12.5" cy="12.5" r="12.5" fill="%23747474"/><path d="M7 12.5H18M12.5 7V18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
}
.euc-newchat a:hover .plus {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><circle cx="12.5" cy="12.5" r="12.5" fill="%23414141"/><path d="M7 12.5H18M12.5 7V18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
}
 
/* Sidebar - history */
.euc-history-container {
    transition-duration: .5s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    overflow-y: auto;
    scrollbar-gutter: stable;
}
.euc-history {
    display: flex;
    flex-direction: column;
}
.euc-history-info {
    position: relative;
}
.euc-history-date span {
    display: flex;
    height: 3.6rem;
    font-weight: var(--euc-font-semibold);
    font-size: 1.4rem;
    align-items: center;
    padding-left: 1rem;
}
.euc-history-date + ul {
    padding-bottom: 2.2rem;
}
.euc-history-info ul li {
    position: relative;
}
.euc-history-item {
    display: flex;
    width: 100%;
    height: 3.8rem;
    color: var(--euc-text-gray-700);
    font-weight: var(--euc-font-normal);
    font-size: 1.4rem;
    align-items: center;
    border-radius: var(--euc-rounded-lg);
}
.euc-history-item > a {
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;
}
.euc-history-item:hover, .euc-history-item.active {
    background-color: var(--euc-text-gray-100);
    color: var(--euc-text-dark);
}
.euc-history-text {
    white-space: nowrap;
    overflow: hidden;
}
.euc-history-item .euc-dropdown  {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 1rem;
    align-items: center;
    visibility: hidden;
}
.euc-history-item:hover .euc-dropdown, .euc-history-item.active .euc-dropdown {
    visibility: visible;
}
.dot-button {
    width: 2rem;
    height: 2rem;
}
.euc-ico.dot {
    width: 1.8rem;
    height: 0.3rem;
    display: inline-block;
}
.dot {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="3" viewBox="0 0 13 3" fill="none"><circle cx="1.5" cy="1.5" r="1.5" fill="%23707070"/><circle cx="6.5" cy="1.5" r="1.5" fill="%23707070"/><circle cx="11.5" cy="1.5" r="1.5" fill="%23707070"/></svg>');
}

.dot.theme-dark {
    display: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="3" viewBox="0 0 13 3" fill="none"><circle cx="1.5" cy="1.5" r="1.5" fill="%23E0E0E0"/><circle cx="6.5" cy="1.5" r="1.5" fill="%23E0E0E0"/><circle cx="11.5" cy="1.5" r="1.5" fill="%23E0E0E0"/></svg>');
}

.euc-history-item .euc-dropdown-menu {
    /* 표시 및 애니메이션 */
    display: none;
    /* 위치 및 레이아웃 */
    position: absolute;
    margin: 0px;
    border: var(--euc-border-width) var(--euc-border-style) var(--euc-border-300);
    inset: 0px 0px auto auto;
    transform: translate(0, 38px);
}

/* Scroll-bar - changed0306 */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: #fcfcfc; 
}
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #cecece;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #cacaca;
}
::-webkit-scrollbar-thumb:active {
    background-color: #cacaca; 
}
::-webkit-scrollbar-button:start:decrement {
    display: block;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"%3E%3Cpath d="M12 8l-6 6h12z"/%3E%3C/svg%3E') center no-repeat;
    background-size: 8px;
    height: 16px;
}
::-webkit-scrollbar-button:end:increment {
    display: block;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"%3E%3Cpath d="M12 16l6-6H6z"/%3E%3C/svg%3E') center no-repeat;
    background-size: 8px;
    height: 16px;
}
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
    display: none;
}
/* Scroll-bar - changed0306 */

/* user-avatar */     
.euc-user-avatar {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    color: var(--euc-white);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 5rem;
}

.euc-user-initial {
    font-weight: var(--euc-font-medium);
}

/* user-avatar 색상 */
.euc-user-avatar[name   = "question"] {
    background-color: var(--euc-bg-gray-700);
}
.euc-user-avatar[name   = "S"] {
    background-color: var(--euc-icon-100);
}
.euc-user-avatar[name   = "V"] {
    background-color: var(--euc-info);
}
.euc-user-avatar[name   = "Sparkle"] {
    background-color: #FF5A5A;

    background-image: url(../images/avatar.svg);
    background-position: center center;
    background-repeat: no-repeat;
}


/* dropdown */

.euc-dropdown {
    position: relative;
}

.euc-dropdown-menu {
    /* 표시 및 애니메이션 */
    display: none;
    /* 위치 및 레이아웃 */
    position: absolute;
    margin: 0px;
    border: var(--euc-border-width) var(--euc-border-style) var(--euc-border-300);
    inset: 0px 36px auto auto;
    transform: translate(0, 76px);
    z-index: 100;

    /* 크기 및 박스 모델 */
    min-width: 21rem;
    max-width: 21rem;
    overflow: hidden;
    border-radius: var(--euc-rounded-lg); 

    /* 스타일 */
    box-shadow: var(--euc-shadow);
    background-color: var(--euc-dropdown-bg); /* 배경색 추가 가능 */
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.euc-dropdown-menu.show {
    display: block;
    opacity: 1;
}
.euc-dropdown-inner {
    padding: 0 1rem;
}
.euc-link-list {
    padding: 1.2rem 0;
}
.euc-link-list button {
    position: relative;
    width: 100%;
    padding: 0.9rem 1.5rem;
    color: var(--euc-text-gray-800);
    font-weight: var(--euc-font-medium);
    justify-content: flex-start;
}
.euc-link-list button:hover, .euc-link-list button:focus {
    background-color: var(--euc-hover-bg-200);
    border-radius: var(--euc-rounded-sm);
}
.euc-ico {
    display: block;
    width: 1.9rem;
    height: 1.9rem;
    font-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.setting {
    background-image: url("../images/setting.svg"); 
}
.person {
    background-image: url("../images/person.svg");
}
.home {
    background-image: url("../images/home.svg");
}
.logout {
    background-image: url("../images/logout.svg");
}
.name_change {
    background-image: url("../images/pencil-edit.svg");
}
.delete {
    background-image: url("../images/delete.svg");
}
.delete_text {
    color: var(--euc-danger);
}
.euc-ico+span, span+.euc-ico {
    margin-left: var(--euc-m-7);
}
.euc-dropdown-menu.show {
    display: block;
}


/* main - 검색창 컨테이너  */
    .euc-search-bg {
        display: flex;
        width: 100%;
        border: 0.3rem solid transparent;
        background: var(--euc-main-bg);
        align-items: center;
        border-radius: var(--euc-rounded-xl);
        background-image: var(--euc-main-gradient);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    .euc-search-form {
        display: flex;
        width: 100%;
        padding: 0.6rem 3rem 0.6rem 2.5rem;
        background: var(--euc-main-bg);
        align-items: flex-end;
        border-radius: var(--euc-rounded-xl);
    }

    /* 검색 입력창 */
    .euc-textarea {
        width: 100%;
        padding: 1.5rem 1.5rem 1.5rem 1rem;
        border: none;
        background: transparent;
        color: var(--euc-text-gray-800);
        font-weight: var(--euc-font-normal);
        flex: 1;
        outline: none;
        box-sizing: border-box;
        resize: none; /* 사용자가 수동으로 크기 조절하지 못하게 함 */
    }
    .euc-textarea::placeholder {
        color: var(--euc-text-gray-300);
    }

    /* 버튼 스타일 */
    .euc-search-form .search-button {
        border-radius: var(--euc-rounded-pill);
    }
    .search-button {
        display: flex;
        position: relative;
        width: 3.4rem;
        height: 3.4rem; 
        margin: 0.9rem 0 0.9rem 2rem;
        background-color: var(--euc-primary);
        box-shadow: 0 0 0 3px rgb(196, 225, 255), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;
    }
    .search-button.disabled {
        background-color: var(--euc-bg-gray-500);
        box-shadow: 0 0 0 3px rgb(230, 230, 230);
    }
    .mic-button {
        width: 5rem;
        height: 5rem;
        padding: 0.9rem;
        background-color: transparent;
        border-radius: 5rem;
    }
    .search-button .search {
        position: absolute;
        animation: keyframes-fill 0.3s;
    }
    .search-button .stop {
        display: none;
        position: absolute;
        animation: keyframes-fill 0.3s;
    }
    /* ------ On check event ------ */
    .search-button input:checked ~ .search {
        display: none;
    }
    .search-button input:checked ~ .stop {
        display: block;
    }
    

    /* ------ Hide the default checkbox ------ */
    .search-button input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
    }
    
    /* ------ Animation ------ */
    @keyframes keyframes-fill {
        0% {
        transform: scale(0.5);
        opacity: 0;
        }
    
        50% {
        transform: scale(1.1);
        }
    }
  

    /* 버튼 호버 효과 */
    .search-button:hover {
        background-color: var(--euc-hover-bg-500);
    }
    .mic-button:hover, .mic-button:focus {
        background-color: var(--euc-hover-bg-200);
    }

    /* 버튼 아이콘 */
    .mic {
        width: 2.8rem;
        height: 2.8rem;
        background-image: url(../images/mic.svg); 
    }
    
/* main - 검색창 컨테이너  */


/* 탭 컨텐츠  */
.euc-search-intro {
    border-radius: 4px;
}
.euc-tab-menu {
    padding: 1rem 2rem;
    color: var(--euc-text-gray-800);
    border-radius: 10rem;
    background-color: var(--color-secondary);
}
.euc-tab-list {
    display: flex;
    width: fit-content;
    padding: 0.4rem; 
    gap: 0.2rem;
    border-radius: var(--euc-rounded-sm);  
    background-color: var(--euc-bg-gray-400);
    overflow: hidden;
    color: var(--euc-text-gray-800);
}
.euc-tab-buttons {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 4rem;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}
.euc-tab-buttons button {
    padding: 0.7rem 2rem;
    border-radius: var(--euc-rounded-sm); 
}
.euc-tab-buttons button.active {
    background-color: var(--euc-button-bg);
    box-shadow: 0 0 0 1px var(--euc-hover-bg-600);
}

.euc-tab-contents {
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--euc-rounded-xl);
    padding-top: var(--euc-p-11);
}
.euc-tab-content {
    display: none;
}
.euc-tab-content.active {
    display: block;
}
.euc-tab-card ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.euc-tab-card ul li {
    width: calc(25% - 5px);
    height: 17.8rem;
    padding: 2.4rem 3rem;
    border: 1px solid var(--euc-border-200);
    border-radius: var(--euc-rounded-xl);
    background-color: var(--euc-bg-basic);
    box-shadow: var(--euc-shadow-sm);
}
.euc-tab-card ul li a {
    display: block;
}
.euc-tab-card ul li:hover {
    border: 1px solid var(--euc-info);
}

.euc-tab-card .euc-card-text {
    display: -webkit-box;
    margin: 1.4rem 0 2.8rem 0; 
    font-weight: var(--euc-font-medium);
    line-height: 2.1rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.euc-tab-card .euc-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.euc-detail .euc-date {
    color: var( --euc-text-gray-400);
    font-weight: var(--euc-font-normal);
}
.chat {
    width: 2.4rem;
    height: 2.3rem;
    background-image: url("../images/chat.svg"); 
}

/* 검색 질문 */
.euc-question {
    display: flex;
    margin-left: 16rem;
    gap: 1.2rem;
    justify-content: space-between;
}
.euc-question-text {
    padding: 1.5rem 2rem;
    font-weight: var(--euc-font-medium);
    line-height: 28px;
    background-color: var(--euc-text-gray-100);
    word-break: break-all;
    border-radius: var(--euc-rounded-2xl);
}

/* 검색 답변 */
.euc-answer-title {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}
.euc-answer-title p {
    color: var(--euc-text-gray-900);
    font-weight: var(--euc-font-bold);
    font-size: 2rem;
}
.euc-answer-section {
    padding-top: 2.5rem;
    margin-bottom: 4rem;
    border-top: 1px solid var(--euc-text-gray-300);
}
.euc-answer-main {
    display: flex;
    flex-direction: column;
}
.euc-answer-container {
    display: flex;
    margin: 4.4rem 0 4rem 0;
    flex-direction: column;
}
.euc-answer-container ul {
    margin: 1.4rem 0 1.6rem 0;
}
euc-answer-container span {
    color: var(--euc-text-gray-800);
    font-weight: var(--euc-font-bold);
    font-size: 2rem;
}
.euc-answer p {
    color: var(--euc-text-gray-800);
}

/* changed.start 더보기 */
.euc-answer-section {
    display: flex;
    flex-direction: column;
}

.euc-answer-section .euc-answer-container {
    position: relative;
    max-height: 250px; /* 원하는 높이 */
    overflow: hidden;
}

.euc-answer-list .euc-answer-container {
    position: relative;
    max-height: 500px; /* 원하는 높이 */
    overflow: hidden;
}
.euc-answer-law .euc-answer-container::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: var(--euc-fade-gradient);
    content: '';
    z-index: 5;
}
.euc-answer-law .euc-answer-container.expanded {
    max-height: none; /* 전체 콘텐츠 표시 */
    overflow: visible; /* 스크롤 제거 */
  }

.euc-answer-law .euc-answer-container.expanded::after {
    content: none; /* 페이드 효과 제거 */
  }
.euc-answer-section h3 {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.euc-btn-more {
    display: none;
    position: relative;
    width: 100%;
    padding: 0.7rem 0;
    height: 4rem;
    border: 1px solid var(--euc-border-100);
    border-radius: var(--euc-rounded-pill);
    background-color: var(--euc-main-bg);
    cursor: pointer;
    z-index: 10;
    margin-top: -2.5rem;
}
.euc-btn-more:hover {
    background-color: var(--euc-hover-bg-300);
}
/* changed.end 더보기 */


/* 다운로드 */
.download {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.download h5 {
    margin-bottom: 0;
}
.download:hover h5 {
    text-decoration: underline var(--euc-text-gray-600);
}
.download em {
    margin-top: 1rem;
}
.excel {
    background-image: url(../images/excel.svg);
}
.word {
    background-image: url(../images/word.svg);
}
.pdf {
    background-image: url(../images/pdf.svg);
}
.ppt {
    background-image: url(../images/powerpoint.svg);
}

/*다운 버튼*/
.euc-btn-movedown {
    display: none;
    position: fixed;
    bottom: 20rem;
    left: calc(50% - 165px);
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--euc-border-200);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 9999;
    background-color: var(--euc-topdown-bg);
    border-radius: var(--euc-rounded-pill);
    box-shadow: var(--euc-shadow-default);
}
.euc-btn-movedown.show {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.euc-btn-movedown:hover {
    background-color: var(--euc-hover-bg-300);
}
.down {
    width: 1.2rem;
    height: 1.4rem;
    background-image: url(../images/down.svg);
}

/* added.start 피드백 */
.euc-feedback {
    display: flex;
    flex-wrap: wrap;
}

.euc-feedback-action {
    display: flex;
}
.euc-feedback-action .euc-action-icon {
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border-radius: 50%;
}
.euc-feedback-action .euc-action-icon svg {
    width: 1.7rem;
    height: 1.7rem;
    transition: all 0.3s ease-in-out;
}

.euc-action-icon svg {
    display: inline-block;
}

.euc-action-icon svg.dark-theme {
    display: none;
}

.euc-feedback-action .euc-action-icon:hover:not(.active) {
    background-color: var(--euc-border-blue-100);
}
.euc-feedback-step {
    position: relative;
    margin-top: 2rem;
    padding: 3.6rem 3rem;
    width: 100%;
    border-radius: var(--euc-rounded-lg);
    background-color: var(--euc-bg-blue-100);
    border: 1px solid var(--euc-border-blue-50);
    box-shadow: var(--euc-shadow-md);
}
.euc-feedback-step02 {
    margin-top: 3.2rem;
}
.euc-feedback-close {
    position: absolute;
    top: 2.5rem;
    right: 2.2rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: var(--euc-rounded-pill);
    transition: all 0.2s ease-in-out;
}
.euc-feedback-close img {
    width: 1.4rem;
    height: 1.4rem;
}
.euc-feedback-close:hover {
    background-color: var(--euc-border-blue-100);
}
.euc-feedback-title {
    font-size: 1.5rem;
    color: var(--euc-text-gray-600);
    font-weight: var(--euc-font-normal);
    margin-bottom: var(--euc-m-7);
}
.euc-feedback-title span {
    font-weight: var(--euc-font-light);
    color: var(--euc-text-gray-200);
}
.euc-feedback-options {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}
.euc-feedback-option {
    padding: 0.7rem 2rem;
    background-color: var(--euc-sm-button-bg);
    border: 1px solid var(--euc-border-blue-300);
    border-radius: var(--euc-rounded-sm);
    transition: ease 0.3s;
}
.euc-feedback-option.active, .euc-feedback-option:hover {
    background-color: var(--euc-bg-blue-500);
    border: 1px solid var(--euc-primary-100);
}
.euc-feedback-option p {
    color: var(--euc-text-blue-100);
    font-size: 1.6rem;
    font-weight: var(--euc-font-normal);
}
.euc-feedback-input textarea {
    width: 100%;
    min-height: 6rem;
    padding: 1rem 1rem 1rem 1.8rem;
    border: 1px solid var(--euc-border-300);
    border-radius: 0.2rem;
    overflow-y: auto;
    resize: vertical;         
    color: var(--euc-text-dark);
    font-weight: var(--euc-font-normal);
    background-color: var(--euc-main-bg);
}
.euc-feedback-input textarea::placeholder {
    color: var(--euc-text-gray-200);
    font-weight: var(--euc-font-normal);
}
.euc-feedback-submit {
    display: flex;
    margin-top: 1.2rem;
    margin-left: calc(100% - 6rem);
    padding: 0.8rem 1.5rem;
    background: var(--euc-bg-blue-200);
    color: var(--euc-white);
    border-radius: 0.2rem;
    pointer-events: auto; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.euc-feedback-submit:hover {
    background-color: var(--euc-bg-blue-300);
}

/* added.start 알람창 */

/* 알람창 숨김 상태 */
.hidden {
    display: none;
}
#custom-alert {
    position: fixed;
    bottom: 5rem; /* 변경된 부분 */
    right: 3rem;
    padding: 1.5rem 3rem;
    background: var(--euc-bg-gray-700);
    color: var(--euc-white);
    font-size: 1.5rem;
    text-align: center;
    animation: fadeInOut 3s ease forwards;
    border-radius: 8px;
    z-index: 1000;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}
/* added.end 알람창 */


/* added.start 로딩 */
.euc-loader-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.euc-loader {
    position: relative;
}
.euc-rotate {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.8em;
    animation: rotate4 2s linear infinite;
    transform-origin: center;
}
.euc-rotate circle {
    animation: dash4 1.5s ease-in-out infinite;
    fill: none;
    stroke: var(--euc-primary);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}
   
@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}
.euc-pulse {
    position: absolute;
    top: 1.5rem;
    left: 1.65rem;
    animation: ping 3s ease-in-out infinite;
}

.euc-loader-title {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    margin-left: 5.8rem;
}
.euc-loader-title span {
    background: var(--euc-text-gradient);
    font-weight: var(--euc-font-bold);
    font-size: 2rem;
    line-height: 1.8rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1.2rem;
}
/* added.end 로딩 */


/* 툴팁 스타일 */
.euc-custom-tooltip {
    position: absolute;
    background-color: var(--euc-tooltip-bg);         
    color: var(--euc-topdown-bg);                   
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    white-space: nowrap;
    z-index: 10;        
    transition: opacity 0.2s ease; 
    margin-top: 0.5rem;
    top: 100%;                 
    left: 50%;
    transform: translateX(-50%);
}
.euc-custom-tooltip p {
    color: var(--euc-topdown-bg);     
}


/*로그인 및 회원가입 페이지*/
.euc-login-container {
    height: 100vh;
    background-color: var(--euc-main-bg);
}
.euc-login-logo {
    padding-top: 12rem;
    text-align: center;
    margin-bottom: 4.8rem;
}

.euc-login-logo img {
    width: 4.7rem;
    height: auto;
    margin-bottom: 1.4rem;
}
.euc-login-logo p {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%; 
    text-align: center;
}
.euc-login-logo span {
    color: var(--euc-primary);
}
.euc-login-form {
    width: 36rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.euc-login-form-group {
    margin-bottom: 2.1rem;
}

.euc-login-form-group label {
    display: block;
    margin-bottom: 0.8rem;
    color: var(--euc-text-gray-500);
    font-weight: 600;
    font-size: 1.4rem;
}

.euc-login-form-group input {
    background-color: var(--euc-modal-bg);
    width: 100%;
    padding: 1.2rem 1.8rem;
    height: 4.8rem;
    outline: none;
    border: 1.5px solid var(--euc-border-blue-300);
    border-radius: var(--euc-rounded-lg);
    font-size: 16px;
    transition: border-color 0.2s ease;
    color: var(--euc-text-gray-300);
}
.euc-login-form-group input.warning {
    border: 1.5px solid var(--euc-danger);
    pointer-events: none;
}
.euc-login-form-group input::placeholder {
    color: var(--euc-bg-gray-600);
    font-weight: var(--euc-font-light);
    text-overflow: ellipsis;
}
.euc-login-form-group input:focus {
    border: 1.5px solid var(--euc-text-gray-600);
    color: var(--euc-text-dark);
}
.euc-warning-msg {
    display: block;
    padding-top: 0.6rem;
    padding-left: 0.2rem;
    color: var(--euc-danger);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.065px;
    pointer-events: none;
}
.euc-login-btn {
    width: 100%;
    padding: 1.2rem 1.8rem;
    height: 5.2rem;
    background-color: var(--euc-primary);
    color: var(--euc-white);
    border-radius: var(--euc-rounded-lg);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 3.8rem;
}
.inactive {
    background-color: var(--euc-bg-blue-200)!important;
    cursor: not-allowed!important;
    pointer-events: none!important;
}
.euc-login-btn:hover {
    background-color: var(--euc-hover-bg-500);
}

.euc-login-secondary-btn {
    text-align: center;
    padding-top: 3rem;
    border-top: 1.5px solid var(--euc-bg-blue-600);
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: var(--euc-font-normal);
    padding-right: 2rem;
}
.euc-login-secondary-btn p {
    color: var(--euc-text-gray-500);
}

.euc-login-secondary-btn a {
    text-decoration: none;
    color: var(--euc-text-gray-800);
    
}

.euc-login-secondary-btn a:hover {
    text-decoration: underline;
}

.euc-login-check-btn {
    padding: 0.8rem 1.8rem;
    height: 4.8rem;
    background-color: var(--euc-bg-blue-200);
    color: var(--euc-white);
    border: none;
    border-radius: var(--euc-rounded-lg);
    cursor: pointer;
    margin-left: 0.8rem; 
}
/* .euc-login-check-btn:hover {
    background-color: var(--euc-bg-blue-300);
} */


.euc-login-input-group {
    display: flex;
    align-items: center;
}

.euc-login-input-group input {
    flex: 1;
}

.euc-signup-secondary-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: var(--euc-font-bold);
    color: var(--euc-hover-bg-500);
    margin-top: -2rem;
}

/*드롭다운 v2*/
.euc-select-container {
    width: 100%;
  }
  
.euc-select-selected {
    width: 100%;
    padding: 0.8rem 1.8rem;
    height: 4.8rem;
    border: 1.5px solid var(--euc-border-blue-300);
    border-radius: var(--euc-rounded-lg);
    background-color: var(--euc-modal-bg);
    color: var(--euc-bg-gray-600);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: border-color 0.2s ease;
    position: relative;
    font-weight: var(--euc-font-light);
  }
  .euc-select-selected:focus {
    border: 1.5px solid var(--euc-text-gray-600);
  }
  
.euc-select-selected::after {
    content: '';
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23555' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease-in-out;
  }
  .euc-select-container.active .euc-select-selected {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 1.5px 1.5px 0 1.5px;
    border-color: var(--euc-text-gray-600);
  }
  .euc-select-container.active .euc-select-selected::after {
    transform: rotate(180deg);
  }
  
  .euc-select-options {
    width: 100%;
    background-color: var(--euc-modal-bg);
    border: 1.5px solid var(--euc-text-gray-600);
    border-radius: 0 0 0.7rem 0.7rem;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    max-height: 15rem;
    overflow-y: auto;
    box-shadow: var(--euc-shadow);
  }
  
  .euc-select-container.active .euc-select-options {
    border: 1.5px solid var(--euc-text-gray-600);
    display: block;
  }
  
  .euc-select-options li {
    padding: 1.2rem 1.8rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .euc-select-options li:hover {
    background-color: var(--euc-bg-gray-100);
  }
  
  .euc-select-options li.selected {
    background-color: var(--euc-bg-gray-100);
    font-weight: 500;
  }

/*변경, 취소 모달창*/
.euc-modal-wrap {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.euc-modal-container {
    width: 45rem;
    background-color: var(--euc-modal-bg);
    border-radius: 1rem;
    box-shadow: var(--euc-shadow-sm);
    overflow: hidden;
    padding: 3.2rem 3rem;
    margin-bottom: 5rem;
}

.euc-modal-title {
    font-size: 2rem;
    font-weight: var(--euc-font-bold);
}

.euc-modal-content {
    padding: 2.2rem 0 2.5rem 0;
}

.euc-modal-warning {
    text-align: left;
    padding: 2.2rem 0;
    font-size: 1.6rem;
    color: var(--euc-text-gray-400);
    font-weight: var(--euc-font-light);
}

.euc-form-input {
    width: 100%;
    padding: 1.2rem 1.8rem;
    background-color: var(--euc-modal-bg);
    border: 1.5px solid var(--euc-border-blue-300);
    border-radius: var(--euc-rounded-sm);
    font-size: 1.5rem;
    transition: border-color 0.2s ease;
    color: var(--euc-text-gray-800);
}

.euc-form-input:focus {
    outline: none;
    border: 1.5px solid var(--euc-text-gray-600);
}

.euc-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.euc-btn {
    padding: 0.8rem 1.5rem;
    margin-left: 8px;
    border-radius: 0.2rem;
    font-weight: var(--euc-font-medium);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.euc-btn-cancel {
    background-color: var(--euc-modal-bg);
    border: 1px solid var(--euc-text-gray-150);
}

.euc-btn-cancel:hover {
    background-color: var(--euc-bg-gray-500);
}

.euc-btn-save {
    background-color: var(--euc-text-gray-800);
    color: var(--euc-bg-basic);
}

.euc-btn-save:hover {
    background-color: var(--euc-text-gray-600);
}

.euc-btn-delete {
    background-color: var(--euc-danger-100);
    color: var(--euc-white);
}

.euc-btn-delete:hover {
    background-color: var(--euc-hover-danger);
} 


/*상세보기*/
.euc-detail-container {
    max-width: 128rem;
    width: 100%;
    height: 100%;
    background-color: var(--euc-modal-bg);
    border-radius: 1rem;
    box-shadow: var(--euc-shadow-sm);
    overflow: hidden;
    max-height: 60rem;
    min-height: 40rem;
}
.euc-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.4rem 1.6rem 2.4rem;
    border: 1px solid var(--euc-bg-gray-500);
}
.euc-detail-title {
    font-size: 2rem;
    font-weight: var(--euc-font-bold);
    color: var(--euc-text-blue-300);
}
.euc-detail-header .euc-feedback-close {
    position: relative;
    top: auto;
    right: auto;
}
.euc-detail-header .euc-feedback-close:hover {
    background-color: var(--euc-text-gray-100);
}
.euc-detail-content {
    display: flex;
    height: calc(100% - 7.8rem);
}
.euc-detail-menu {
    padding: 0 1.5rem ;
    max-width: 43.4rem;
    width: 100%;
    min-width: 18rem;
    border-right: 1px solid var(--euc-bg-gray-500);
}
.euc-detail-menu .euc-link-list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.euc-detail-menu .euc-link-list span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.euc-link-list-selected button, .euc-detail-menu .euc-link-list button:hover {
    background-color: var(--euc-hover-bg-100);
    border-radius: var(--euc-rounded-sm);
}
.euc-detail-section {
    padding: 1.4rem 2.4rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.euc-detail-section p {
    color: var(--euc-text-gray-300);
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}
.euc-detail-question {
    margin-bottom: 3rem;
}
.euc-detail-question .euc-question-text {
    margin-right: 22rem;
    font-weight: var(--euc-font-medium);
}
.euc-detail-answer .euc-answer-text {
    font-weight: var(--euc-font-normal);
    line-height: 175%;
}
.euc-detail-footer {
    display: flex;
    justify-content: flex-end;
}
.euc-btn-newchat img {
    margin-right: 0.6rem;
}
.euc-btn-move {
    background-color: var(--euc-modal-bg);
    border: 1px solid var(--euc-text-gray-150);
}
.euc-btn-move:hover {
    background-color: var(--euc-bg-gray-500);
}

.euc-btn-newchat {
    background-color: var(--euc-primary); 
    color: var(--euc-white);
}
.euc-btn-newchat:hover {
    background-color: var(--euc-hover-bg-500);
}       


/*설정*/
.euc-setting-container {
    max-width: 72rem;
    width: 100%;
    height: 100%;
    background-color: var(--euc-modal-bg);
    border-radius: 1rem;
    box-shadow: var(--euc-shadow-sm);
    overflow: hidden;
    max-height: 60rem;
    min-height: 40rem;
}
.euc-ico.appearance {
    background-image: url(../images/appearance.svg)
}
.euc-setting-section {
    min-width: 54rem;
    width: 100%;
}
.euc-setting-section .euc-select-container {
    max-width: 26rem;
    width: 100%;
}
.euc-setting-mode-btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.euc-mode-btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0.8rem 1.8rem;
    border-radius: 0.6rem;
    background-color: var(--euc-modal-bg);
    border: 1px solid var(--euc-border-blue-300);
    transition: all 0.2s ease;
    font-weight: var(--euc-font-medium);
}
.euc-mode-btn:hover {
    background-color: var(--euc-hover-bg-100);
}
.euc-mode-btn.active {
    background-color: var(--euc-hover-bg-100);
} 
.euc-mode-btn:hover .euc-ico.light, .euc-mode-btn.active .euc-ico.light {
    background-image: var(--light-icon-hover);
}
.euc-mode-btn:hover .euc-ico.dark, .euc-mode-btn.active .euc-ico.dark {
    background-image: var(--dark-icon-hover);
}
.euc-mode-btn:hover .euc-ico.system, .euc-mode-btn.active .euc-ico.system {
    background-image: var(--system-icon-hover);
}
.euc-ico.light {
    width: 2rem;
    height: 2rem;
    background-image: url(../images/light.svg)
}
.euc-ico.dark {
    width: 2rem;
    height: 2rem;
    background-image: url(../images/dark.svg)
}
.euc-ico.system {
    width: 2rem;
    height: 2rem;
    background-image: url(../images/system.svg)
}

.euc-mode-btn .euc-ico+span, span+.euc-ico {
    margin-left: 0;
}