@import url(./common.css);
@import url(./globals.css);
@import url(././main/cnt.css);
@import url(././main/tab.css);
@import url(././main/title.css);


.wrapper {
    max-width: 128rem !important;
    margin: 0 auto; /* 센터 */
}
.wrapper.sub_nav {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.wrapper.sub_tit {
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1400px) {
    .wrapper.sub_nav {
        margin: 3rem;
    }
    .wrapper.sub_tit {
        padding-top: 10rem;
        padding-bottom: 10rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .wrapper.sub_con {
        padding-top: 10rem;
        padding-bottom: 10rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }
}
@media screen and (max-width: 749px) {
    .wrapper.sub_nav {
        margin: 1rem;
    }
    .wrapper.sub_tit {
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .wrapper.sub_con {
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
