@import url(font.css);
@import url(common.css);
@import url(layout.css);

/* Body Wrapper*/
.euc-main {
    position: relative;
    height: 100vh;
}
.euc-main-bg {
    background: url(../images/main_bg.png) center center / cover;
}

.euc-sidebar {
    width: 32rem;
}

.euc-sidebar-fixed {
    position: fixed;
    max-height: 100vh;
}
.euc-wrap {
    position: relative;
    min-height: 100vh;
}
.euc-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 9.2rem;
}
.euc-content {
    width: 100%;
    height: 100vh;
    
}
.euc-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--euc-m-20);
}
.euc-search {
    width: 79.6rem;
}
.euc-search-tit {
    position: relative; 
    background: linear-gradient(90deg, #101419 0%, #3E94EB 57%, #4A3EEB 100%);
    line-height: 63px;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.euc-search-tit::after {
    position: absolute;
    top: -2rem;
    right: 14rem;
    width: 4.7rem;
    height: 4.3rem;
    background: url(../images/sparkle.svg) center center / cover;
    content: "";
}
.euc-search-tit strong {
    font-weight: var(--euc-font-semibold);
} 
.euc-search-bg {
    margin: var(--euc-m-19) 0 var(--euc-m-10) 0;
}
.euc-search .euc-subtext {
    color: var(--euc-text-gray-400);
    text-align: center;
}

/* 탭 */

.euc-search-results {
    margin-top: 10rem;
}