// scss/layout/_container.scss
@use '../abstracts/variables' as *; // _variables.scss 파일을 가져옵니다.

.container {
  max-width: $layout-max-width-container; // _variables.scss 변수 사용
  margin: 0 auto;
  position: relative;
  padding-left: $spacing-md; // _variables.scss 변수 사용
  padding-right: $spacing-md;
}