@charset "UTF-8";

html {
    font-size: 16px;
}

html, body {
    width: 100%;
    height: 400vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100vh;
    font-family: 'Pretendard-400';
    line-height: normal;
    box-sizing: border-box;
}
body {
  overflow: auto; /* 스크롤 가능하게 */
}
h2 {
  margin: 0;  
  padding: 0; 
  font-size: inherit; 
  font-weight: inherit; 
  line-height: inherit; 
}

button {
    margin:0;
    padding:0;
    background-color:transparent;
    border:0;
    color:inherit;
    font-size:inherit;
    font-weight:inherit;
    text-decoration: none; /* underline제거 */
    cursor: pointer;
  }

.main {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center top; /* 이미지 중앙 정렬 */
  background-repeat: no-repeat; /* 이미지 반복하지 않도록 */
  height: 100%; /* 요소 높이를 100%로 설정 */
  width: 100%; /* 요소 너비를 100%로 설정 */
  position: relative;
}
body.on .blind, body.fix .blind, body.on_popup .blind, body.pop .blind {
  display: block;
  opacity: 0.6;
}
.blind {
  position: absolute;
  display: none;
  opacity: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 3;
  transition: .3s;
}
.on_popup #popup_zone {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
#popup_zone {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: .35s opacity;
  transform: translate(-50%, -50%);
  z-index: 10000002;
}
.inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.layout {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1320px;
}
.popup-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 70px;
  color: #fff;
  font-size: 45px;
  font-family: 'Pretendard-500';
}
.popup-title strong {
  margin-bottom: 20px;
}
#popup_zone .slide_page {
  font-size: 18px;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#popup_zone .slide_box {
  padding: 0 4rem;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#popup_zone .swiper {
  display: flex;
  justify-content: center;
}
#popup_zone .swiper .swiper-wrapper {
  padding: 0;
}
#popup_zone .swiper .swiper-wrapper .swiper-slide {
  height: auto;
  display: flex;
  justify-content: center;
}
#popup_zone .swiper .swiper-wrapper .swiper-slide>a {
  display: block;
  position: relative;
  overflow: hidden;
}
#popup_zone .swiper .swiper-wrapper .swiper-slide>a>img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .5s;
}
.popup_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.popup_btn .close-button:hover {
  background-color: #2c2c2c;
}
.btn_ctrl .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}
.btn_ctrl .arrow.left-arrow {
  left: -30px;
  background-image: url(../img/Larrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
.btn_ctrl .arrow.right-arrow {
  right: -30px;
  background-image: url(../img/Rarrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
.close-button {
  display: inline-flex; /* 버튼 안의 내용이 가로로 나란히 배치 */
  align-items: center; /* 텍스트와 아이콘 세로 가운데 정렬 */
  line-height: 50px; /* 버튼 높이 */
  padding: 0 30px; /* 좌우 패딩 30px */
  font-size: 20px; /* 텍스트 크기 */
  color: #fff; /* 텍스트 색상 */
  border: 1px solid #fff; /* 테두리 */
  border-radius: 30px; /* 버튼의 둥근 모서리 */
  background-color: #111; /* 버튼 배경색 */
  cursor: pointer; /* 마우스 포인터 */
  white-space: nowrap; /* 줄 바꿈 방지 */
}
.close-button img {
  width: 20px; /* 아이콘 너비 */
  height: 20px; /* 아이콘 높이 */
  margin-left: 10px; /* 텍스트와 아이콘 사이의 간격 */
}
@media (max-width: 1024px) {
  .popup-title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  #popup_zone .slide_page {
    font-size: 16px;
  }
  .close-button {
    font-size: 16px; /* 텍스트 크기 */
  }
  .close-button img {
    width: 16px; /* 아이콘 너비 */
    height: 16px; /* 아이콘 높이 */
    margin-left: 8px; /* 텍스트와 아이콘 사이의 간격 */
  }
}
@media (max-width: 480px) {
  .popup-title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .popup-title strong {
    margin-bottom: 16px;
}
  #popup_zone .slide_page {
    font-size: 14px;
  }
  #popup_zone .slide_box {
    margin-bottom: 24px;
  }
  .close-button {
    line-height: 40px; /* 버튼 높이 */
    padding: 0 24px; /* 좌우 패딩 30px */
    font-size: 15px; /* 텍스트 크기 */
  }
}