/*태그초기화*/
* {
    padding: 0;   
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
a { 
    text-decoration: none; 
    color: inherit;
}
address, em {
    font-style: normal;
} 
h1, h2, h3, h4, h5, h6, strong, th {
    font-size: inherit;
    font-weight: inherit;
}
input {
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
input, button, select {
    color: inherit; 
    font-family: inherit;
    font-size: inherit;
}
button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border: 0;
}
table caption {
    display: none;
}
fieldset {
    border: 0;
}
legend {
    display: none; 
}
/*태그초기화*/

html {
    font-size: 62.5%;/*1rem=10px*/
}
body {
    font-family: 'Pretendard', sans-serif;
    font-size: 1.6rem;
    color: #222;
    font-weight: 400;
    line-height: 1.75rem;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1620px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 100%;
    overflow: hidden; /*sticky 사용할 때는 쓰면 안됨*/
}


:root,[data-euc-theme=light] {
    --euc-primary: #0072E5;
    --euc-white: #fff;
    --euc-text-dark: #222222;
    --euc-text-gray-100: #F0F1F4;
    --euc-text-gray-200: #B0B0B0;
    --euc-text-gray-300: #aaaaaa;
    --euc-text-gray-400: #888888;
    --euc-text-gray-500: #767676;
    --euc-text-gray-600: #666666; 
    --euc-text-gray-700: #555555;
    --euc-text-gray-800: #333333;
    --euc-text-gray-900: #222222;
    --euc-bg-gray-100: #F7F7F7;
    --euc-bg-gray-200: #F0F1F4;
    --euc-bg-gray-300: #F0F1F4;
    --euc-bg-gray-400: #EEEEEE;
    --euc-bg-gray-500: #414141;
    --euc-info: #1FA7FF;
    --euc-warning: #f4bd0e;
    --euc-danger: #F93A37;
    --euc-hover-border: #1FA7FF;
    --euc-hover-bg-100: #F0F1F4;
    --euc-hover-bg-200: #F7F7F7;
    --euc-hover-bg-300: #F9F9F9;
    --euc-hover-bg-400: #767676;
    --euc-white-rgb: 255,255,255;
    --euc-black-rgb: 0,0,0;
    --euc-border-gradient: linear-gradient(90deg, #6BD0FF 0.5%, #A8E3FF 21.5%, #8FBAFF 43%, #CCBDFF 68.5%, #99B8FF 100%);
    --euc-text-gradient: linear-gradient(90deg, #101419 0%, #3E94EB 57%, #4A3EEB 100%);
    --euc-border-width: 1px;
    --euc-border-style: solid;
    --euc-primary-border: #3B3B3B;
    --euc-secondary-border: #DEDCDB;
    --euc-rounded: 0.6rem;
    --euc-rounded-sm: 0.4rem;
    --euc-rounded-lg: 0.7rem;
    --euc-rounded-xl: 1.2rem;
    --euc-rounded-xxl: 1.75rem;
    --euc-rounded-2xl: 1.8rem;
    --euc-rounded-pill: 2rem;
    --euc-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.07);
    --euc-shadow-sm: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    --euc-shadow-lg: 5px 6px 10px 0px rgba(226, 226, 226, 0.53);
    --euc-text-xs: 1.4rem;
    --euc-text-sm: 1.5rem;
    --euc-text-base: 1.6rem;
    --euc-text-xl: 2.2rem;
    --euc-font-normal : 400;
    --euc-font-medium : 500;
    --euc-font-semibold : 600;
    --euc-font-bold : 700;
    --euc-p-1 : 2px;
    --euc-p-2 : 4px;
    --euc-p-3 : 6px;
    --euc-p-4 : 8px;
    --euc-p-5 : 10px;
    --euc-p-6 : 12px;
    --euc-p-7 : 14px;
    --euc-p-8 : 16px;
    --euc-p-9 : 18px;
    --euc-p-10 : 20px;
    --euc-p-11 : 22px;
    --euc-p-12 : 24px;
    --euc-p-13 : 26px;
    --euc-p-14: 28px;
    --euc-p-15 : 30px;
    --euc-p-16 : 32px;
    --euc-p-17 : 34px;
    --euc-p-18 : 36px;
    --euc-p-19 : 38px;
    --euc-p-20 : 40px;
    --euc-m-1 : 2px;
    --euc-m-2 : 4px;
    --euc-m-3 : 6px;
    --euc-m-4 : 8px;
    --euc-m-5 : 10px;
    --euc-m-6 : 12px;
    --euc-m-7 : 14px;
    --euc-m-8 : 16px;
    --euc-m-9 : 18px;
    --euc-m-10 : 20px;
    --euc-m-11 : 22px;
    --euc-m-12 : 24px;
    --euc-m-13 : 26px;
    --euc-m-14: 28px;
    --euc-m-15 : 30px;
    --euc-m-16 : 32px;
    --euc-m-17 : 34px;
    --euc-m-18 : 36px;
    --euc-m-19 : 38px;
    --euc-m-20 : 40px;
}

.h1,h1 {
    font-size: 5rem
}

.h2,h2 {
    font-size: 2.2rem
}

.h3,h3 {
    font-size: 2rem
}

.h4,h4 {
    font-size: 1.6rem
}

.h5,h5 {
    font-size: 1.5rem
}

.h6,h6 {
    font-size: 1.4rem
}
